@{
    var env = new
    {
        Culture = UICulture,
        Currency = Request["env.currency"] ?? "ILS",
        Country = Request["enc.locaction"] ?? "IL"
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-Come-Code-With-Us" content="@Localizer.Get("Layout_RecruitingMetaTag")" />

    <link rel="canonical" href="http://www.myhome.co.il@(Url.RouteUrl(ViewContext.RouteData.DataTokens["RouteName"] as string))" />
    <link rel="alternate" href="http://www.myhome.co.il@(Url.RouteUrl(ViewContext.RouteData.DataTokens["RouteName"] as string))" hreflang="x-default" />
    @foreach (var culture in Localizer.SupportedCultures)
    {
        <link rel="alternate" hreflang="@culture.Name" href="http://www.myhome.co.il@(Url.RouteUrlForLocale(ViewContext.RouteData.DataTokens["RouteName"] as string, culture.Name))" />    
    }
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div>
            @if (Request.IsAuthenticated)
            {
                @Html.RouteLink(Localizer.Get("Header_Nav_Logout"), "Logout")  
            }
            else 
            {
                @Html.RouteLink(Localizer.Get("Header_Nav_Login"), "Login")
            }
        </div>

        <div class="logo"></div>
        <hr/>     

        @RenderBody()

        <div class="footer text-center">
            <p>&copy; myhome.co.il 2013</p>
            <p>Language: <a href="#language-select" data-toggle="modal" data-target="#env-modal">@env.Culture</a></p>
            <p>
                @foreach (var culture in Localizer.SupportedCultures)
                {
                    <a href="/@culture.Name">@culture.NativeName</a>
                }
            </p>
        </div>

    </div> <!-- /container -->

    <!-- fb api -->
    <div id="fb-root"></div>
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function () {
            FB.init({
                appId: '13237044783', // App ID
                channelUrl: '//www.myhome.co.il/channel.html', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/scripts/classy.js")
    @Scripts.Render("~/scripts/fb-login.js")
    @Scripts.Render("~/scripts/trigger-action.js")

    <!-- login modal -->
    <div class="modal fade" id="login-modal" data-remote="@Url.RouteUrl("Login")" role="dialog">
        <!-- will be replaced -->
    </div>

    <!-- add to collection modal -->
    <div class="modal fade" id="collect-modal" data-remote="@Url.RouteUrl("AddListingToCollection", new { })" role="dialog">
        <!-- will be replaced -->
    </div>

    <!-- language selection modal -->
    <div class="modal fade" id="env-modal" data-remote="@Url.RouteUrl("EnvironmentSettings", new { })" role="dialog">
        <!-- will be replaced -->
    </div>

    <script>
        Classy.IsAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
        Classy.CurrentPage = "@Url.RouteUrlForLocale(ViewContext.RouteData.DataTokens["RouteName"] as string, env.Culture)";
        Classy.CurrentPageNoLocale = "@Url.RouteUrl(ViewContext.RouteData.DataTokens["RouteName"] as string)";
        
        $(function () {
            $('.modal[data-remote]').on('shown.bs.modal', function() {
                Classy.AjaxReconnect();
            });
        });

        @if (ViewData.ModelState.IsValid) {
            <text>
            CloseModal = function () { $('.modal').modal('hide') };
            </text>
        }
        else {
            <text>
            CloseModal = {};
            </text>
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>