<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div>
            @if (Request.IsAuthenticated)
            {
                @Html.RouteLink("Logout", "Logout")  
            }
            else 
            {
                @Html.RouteLink("Login", "Login")
            }
        </div>

        <div class="logo"></div>
        <hr/>     

        @RenderBody()

        <div class="footer text-center">
            <p>&copy; myhome.co.il 2013</p>
        </div>

    </div> <!-- /container -->

    <!-- fb api -->
    <div id="fb-root"></div>
    <script>
        // Additional JS functions here
        window.fbAsyncInit = function () {
            FB.init({
                appId: '13237044783', // App ID
                channelUrl: '//www.myhome.co.il/channel.html', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/scripts/classy.js")
    @Scripts.Render("~/scripts/fb-login.js")
    @Scripts.Render("~/scripts/trigger-action.js")

    <!-- login modal -->
    <div class="modal fade" id="login-modal" data-remote="@Url.RouteUrl("Login")">
        <!-- will be replaced -->
    </div>

    <script>
        Classy.IsAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
        
        $(function () {
            $('.modal[data-remote]').on('shown.bs.modal', function() {
                Classy.AjaxReconnect();
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>