@model MyHome.Models.PhotoActionsViewModel

<div class="actions" @(Model.IsStatic ? "style=\"display: block\"" : "")>
    @if (Model.ShowCollect)
    {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", Model.Listing, "btn btn-default action add")
    }

    @if (Model.ShowFavorite)
    {
        if (User.Identity.IsAuthenticated && (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.FavoriteListingIds.Any(x => x == Model.Listing.Id))
        {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "unfavorite", Model.Listing, "btn btn-default action like like-on")
        }
        else
        {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", Model.Listing, "btn btn-default action like")
        }
    }

    @if (Model.ShowShare)
    {
        var shareUrl = string.Concat(Classy.DotNet.Responses.AppView.Hostname, Url.RouteUrlForCurrentLocale("PhotoDetails", new { ListingId = Model.Listing.Id }));

        if (User.Identity.IsAuthenticated)
        { 
            <a class="btn btn-default action share-email"  href="#" onclick="Classy.SendEmail('@HttpUtility.HtmlEncode(Localizer.Get("Listing_MailLinkSubject"))', '@HttpUtility.HtmlEncode(string.Format(Localizer.Get("Listing_MailLinkBody", false), string.Concat(shareUrl, "?utm_source=share_image&utm_medium=email"), (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.GetProfileName()).Replace("\r\n", "\\r\\n"))', '@Localizer.Get("Listing_ShareViaEmailTitle")', 'email', 'photo')"><i class="glyphicon glyphicon-send"></i></a>
        }
        <a class="btn btn-default action share-facebook" href="#" onclick="Classy.ShareUI('https://www.facebook.com/sharer/sharer.php?u=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_photo'), 520, 350, 'facebook', 'collection-details-grid')"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-default action share-twitter" href="#" onclick="Classy.ShareUI('https://twitter.com/home?status=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_photo'), 520, 350,'twitter', 'collection-details-grid')"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-default action share-google-plus" href="#" onclick="Classy.ShareUI('https://plus.google.com/share?url=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_photo'), 520, 350,'gplus', 'collection-details-grid')"><i class="fa fa-google-plus"></i></a>
        }

    @if (Model.ShowEdit && User.Identity.IsAuthenticated && Model.Listing.CanEdit())
    {
        <a href="@Url.RouteUrl("EditPhoto", new { listingId = @Model.Listing.Id })" class="btn btn-default action edit" authorize=""><i class="glyphicon glyphicon-pencil"></i></a>
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-trash\"></i>", "delete", Model.Listing, "btn btn-default action delete")
    }
    @if (Model.ShowRemove && User.Identity.IsAuthenticated)
    {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-minus-sign\"></i>", "remove", Model.Listing, "btn btn-danger action remove")
    }
</div>
