@model MyHome.Models.PhotoActionsViewModel

<div class="actions" @(Model.IsStatic ? "style=\"display: block\"" : "")>
    @if (Model.ShowCollect)
    {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", Model.Listing, "btn btn-default action add")
    }

    @if (Model.ShowFavorite)
    {
        if (User.Identity.IsAuthenticated && (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.FavoriteListingIds.Any(x => x == Model.Listing.Id))
        {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "unfavorite", Model.Listing, "btn btn-default action like like-on")
        }
        else
        {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", Model.Listing, "btn btn-default action like")
        }
    }

    @if (Model.ShowShare)
    {
        <div class="dropdown">
            <a href="#" class="btn btn-success action share" data-toggle="dropdown"><i class="glyphicon glyphicon-share"></i></a>
            <ul class="dropdown-menu" role="menu">
                @{
        var shareUrl = string.Concat(Classy.DotNet.Responses.AppView.Hostname, Url.RouteUrlForCurrentLocale("PhotoDetails", new { ListingId = Model.Listing.Id }));
                }
                @if (User.Identity.IsAuthenticated)
                { 
                    <li><a tabindex="-1" class="email" href="#" onclick="Classy.SendEmail('@HttpUtility.HtmlEncode(Localizer.Get("Listing_MailLinkSubject"))', '@HttpUtility.HtmlEncode(string.Format(Localizer.Get("Listing_MailLinkBody"), string.Concat(shareUrl, "?utm_source=share_image&utm-medium=email"), (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.GetProfileName()))', '@Localizer.Get("Listing_ShareViaEmailTitle")')">@Localizer.Get("Listing_MailLink")</a></li>
                }
                <li><a tabindex="-1" class="facebook" href="#" onclick="Classy.ShareUI('https://www.facebook.com/sharer/sharer.php?u=', encodeURIComponent('@(shareUrl)' + '?utm_source=share_image&utm_medium=facebook'), 520, 350)">Facebook</a></li>
                    <li><a tabindex="-1" class="twitter" href="#" onclick="Classy.ShareUI('https://twitter.com/home?status=', encodeURIComponent('@(shareUrl)' + '?utm_source=share_image&utm_medium=twitter'), 520, 350)">Twitter</a></li>
                    <li><a tabindex="-1" class="googleplus" href="#" onclick="Classy.ShareUI('https://plus.google.com/share?url=', encodeURIComponent('@(shareUrl)' + '?utm_source=share_image&utm_medium=gplus'), 520, 350)">Google+</a></li>
            </ul>
        </div>
    }

    @if (Model.ShowEdit && User.Identity.IsAuthenticated && Model.Listing.CanEdit())
    {
        <a href="@Url.RouteUrl("EditPhoto", new { listingId = @Model.Listing.Id })" class="btn btn-default action edit" authorize=""><i class="glyphicon glyphicon-pencil"></i></a>
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-trash\"></i>", "delete", Model.Listing, "btn btn-default action delete")
    }
    @if (Model.ShowRemove && User.Identity.IsAuthenticated)
    {
        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-minus-sign\"></i>", "remove", Model.Listing, "btn btn-danger action remove")
    }
</div>
