@model MyHome.Models.Polls.PollActionsViewModel

<div class="actions" style="display:block">
    @{
        var shareUrl = string.Concat(Classy.DotNet.Responses.AppView.Hostname, Url.RouteUrlForCurrentLocale("PollDetails", new {ListingId = Model.PollId}));
    }
    @if (User.Identity.IsAuthenticated)
    { 
        <a class="btn btn-default action share-email"  href="#" onclick="Classy.SendEmail('@HttpUtility.HtmlEncode(Localizer.Get("Poll_MailLinkSubject"))', '@HttpUtility.HtmlEncode(string.Format(Localizer.Get("Poll_MailLinkBody", false), string.Concat(shareUrl, "?utm_source=share_image&utm_medium=email"), (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.GetProfileName()).Replace("\r\n", "\\r\\n"))', '@Localizer.Get("Poll_ShareViaEmailTitle")', 'email', 'poll')"><i class="glyphicon glyphicon-send"></i></a>
    }
    <a class="btn btn-default action share-facebook" href="#" onclick="Classy.ShareUI('https://www.facebook.com/sharer/sharer.php?u=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_poll'), 520, 350, 'facebook', 'poll')"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-default action share-twitter" href="#" onclick="Classy.ShareUI('https://twitter.com/home?status=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_poll'), 520, 350, 'twitter', 'poll')"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-default action share-google-plus" href="#" onclick="Classy.ShareUI('https://plus.google.com/share?url=', encodeURIComponent('@(shareUrl)' + '?utm_medium=share_plus'), 520, 350, 'gplus', 'poll')"><i class="fa fa-google-plus"></i></a>
</div>
