@model Classy.DotNet.Responses.ProfileView

<div class="col-md-3 sidebar">
    <div class="image text-center">
        <img src="@Model.ImageUrl" title="@Model.ContactInfo.Name" />
    </div>

    <div class="follow text-center">
        @if (Request.IsAuthenticated &&
            (Model.FollowedBy.Any(x => x.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id) ||
            Model.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id))
        {
            <span><i class="glyphicon glyphicon-ok"></i> @Localizer.Get("Profile_Sidebar_Following")</span>
        }
        else
        {
            @Html.TriggerProfileActionLink(@Localizer.Get("Profile_Sidebar_Follow"), "follow", Model, "btn btn-block btn-default")
        }
    </div>

    <div class="panel panel-default panel-links">
        <div class="panel-heading">
            <h3 class="panel-title">@Localizer.Get("Profile_ProfileLinksPanel_Title")</h3>
        </div>
        <div class="panel-body">
            @Html.RouteLink(Localizer.Get("Profile_ProfileLinksPanel_Overview"), "PublicProfile", new { ProfileId = Model.Id, slug = Html.ToSlug(Model.GetProfileName()) })
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Collections")</a>
            @Html.RouteLink(Localizer.Get("Profile_ProfileLinksPanel_Photos"), "PublicProfilePhotos", new { ProfileId = Model.Id })
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Reviews")</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @if (!string.IsNullOrEmpty(Model.ContactInfo.FacebookUrl))
            {
                <a href="@Model.ContactInfo.FacebookUrl">Facebook</a>
            }
            @if (!string.IsNullOrEmpty(Model.ContactInfo.FacebookUrl))
            {
                <a href="@Model.ContactInfo.TwitterUsername">Twitter</a>
            }
            @if (!string.IsNullOrEmpty(Model.ContactInfo.TwitterUsername))
            {
                <a href="@Model.ContactInfo.LinkedInProfileUrl">LinkedIn</a>
            }
        </div>
    </div>

    @if (Model.FollowerCount > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@string.Format(Localizer.Get("Profile_FollowersPanel_Title"), Model.FollowerCount)</h3>
            </div>
            <div class="panel-body social-thumbnails">
                <ul class="list-inline">
                    @foreach (var p in Model.FollowedBy)
                    {
                        <li class="thumbnail">
                            <a href="@Url.ProfileUrl(p)">
                                <img src="@p.ThumbnailUrl" width="30" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    @if (Model.FollowingCount > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@string.Format(Localizer.Get("Profile_FollowingPanel_Title"), Model.FollowingCount)</h3>
            </div>
            <div class="panel-body social-thumbnails">
                <ul class="list-inline">
                    @foreach (var p in Model.Following)
                    {
                        <li class="thumbnail">
                            <a href="@Url.ProfileUrl(p)">
                                <img src="@p.ThumbnailUrl" width="30" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
