@model Classy.DotNet.Mvc.ViewModels.Listing.CreateListingNoCollectionViewModel<MyHome.Models.ProductMetadata>
@{
    ViewBag.Title = Localizer.Get("CreateProduct_PageTitle");
    Html.Bootstrap().Globals().ShowRequiredStar(false);
    var categories = Localizer.GetList("product-categories");
}

<h2>@Localizer.Get("CreateProduct_PageTitle")</h2>


@Html.Bootstrap().ValidationSummary()

@using (var f = Html.Bootstrap().Begin(new Form("CreateListingNoCollection", "Product").HtmlAttributes(new {enctype="multipart/form-data"})))
{
    @f.FormGroup().TextBoxFor(x => x.Title).ShowValidationMessage(false)
    @f.FormGroup().TextAreaFor(x => x.Content).ShowValidationMessage(false)
    
    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(@Localizer.Get("CreateProduct_Submit")))  
}