@model Classy.DotNet.Mvc.ViewModels.Localization.ManageResourcesViewModel
@{
    ViewBag.Title = "ManageResources";
}

<h2>@Localizer.Get("ManageResources_Title")</h2>

@using (var f = Html.Bootstrap().Begin(new Form("ManageResources", "Localization").FormMethod(FormMethod.Post)))
{
    <div class="row">
        <div class="col-md-4">
            @f.FormGroup().DropDownListFor(x => x.SelectedCulture, Model.SupportedCultures).OptionLabel("-- select language --").ShowValidationMessage(false).Label().Class("sr-only")

            <ul>
                @foreach (var key in Model.ResourceKeys)
                {
                    <li>@Html.RouteLink(key, "ManageResources", new { resourceKey = key, selectedCulture = Model.SelectedCulture })</li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            @Html.Bootstrap().ValidationSummary()

            @Html.HiddenFor(x => x.ResourceKey)
            @f.FormGroup().TextAreaFor(x => x.ResourceValue).Rows(10).ShowValidationMessage(false)
            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-success").Text(Localizer.Get("ManageResources_Submit")))
        </div>
    </div>
}



