@model Classy.DotNet.Mvc.ViewModels.Default.HomeViewModel
@{
    ViewBag.Title = Localizer.Get("HomePage_Title");
    ViewBag.MetaDescription = Localizer.Get("HomePage_MetaDescription");
    var rooms = Localizer.GetList("rooms");
    var styles = Localizer.GetList("room-styles");
    var proCategories = Localizer.GetList("professional-categories");
    var countries = Localizer.GetList("supported-countries");
}

@section PreContent {
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="slogan">
            <h1>@Html.Raw(Localizer.Get("Home_Slogan"))</h1>
            <div class="signin">
                <a id="sign-in-facebook" class="btn btn-sm btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
            </div>
        </div>
    }
    <div id="homeslide" class="carousel">
        <a class="left carousel-control prev" href="#homeslide">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control next" href="#homeslide">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <div class="credit">
            <span>@Localizer.Get("Home_PhotoCredit"):</span> <a href="//www.homelab.com/profile/1">pro 1</a>
        </div>
    </div>
}

<div class="row home-content">
    <div class="col-md-8">
        <h3>@Localizer.Get("Home_LatestPhotos")</h3>
        <hr />
        <div class="row" id="photos">
            @if (Model.Photos.Count() > 0)
            {
                @Html.Partial("PhotoGrid", new MyHome.Models.PhotoGridViewModel { Results = Model.Photos, ThumbnailSize = 270 })
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="pro-teaser-banner hidden">
            <h3>@Localizer.Get("Home_ProTeaser")</h3>
            <hr />
            <ul class="list-unstyled benefits">
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit1")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit2")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit3")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit4")</li>
            </ul>
            <a href="#" class="btn btn-lg btn-block btn-primary" authorize>@Localizer.Get("Home_CreateProAccount")</a>
        </div>

        @if (Model.Collections.Count() > 0)
        {
            <h3>@Localizer.Get("Home_RecentArticles")</h3>
            <hr />
            <ul class="media-list" id="articles">
                @foreach (var c in Model.Collections)
                {
                    <li class="media">
                        <a class="pull-left" href="@Url.RouteUrlForCurrentLocale("CollectionDetails", new { collectionId = c.Id, view = "list" })">
                            @Html.Partial("Thumbnails", new string[] { })
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">@Html.RouteLinkForCurrentLocale(c.Title, "CollectionDetails", new { collectionId = c.Id, view = "list" })</h4>
                            <p>
                                @Localizer.Get("Home_ArticleBy") @c.Profile.GetProfileName()
                            </p>
                            <p>
                                @c.Content
                            </p>
                        </div>
                    </li>
                }
            </ul>
        }

        <h3 class="about">@Localizer.Get("Home_AboutUs")</h3>
        <hr />
        @Html.Raw(Localizer.Get("Home_AboutUs_Content"))
    </div>
</div>

@section PreFooter{
    <div class="container">
    <div class="row">
        <h3>@Localizer.Get("Home_List_Categories")</h3>
        <hr />
        <ul class="list-inline list-unstyled footer-categories">
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Rooms")</dt>
                    @foreach (var r in rooms)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(r.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = r.Value }.GetSearchFilterSlug(null, null) })</dd>
                    }
                </dl>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Styles")</dt>
                    @foreach (var s in styles)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(s.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = s.Value }.GetSearchFilterSlug(null, null) })</dd>
                    }
                </dl>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Professionals")</dt>
                    @foreach (var p in proCategories)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(p.Text, "SearchProfiles", new { filters = new Classy.DotNet.Mvc.ViewModels.Profiles.SearchProfileViewModel<MyHome.Models.ProfessionalMetadata> { Category = p.Value }.ToSlug() })</dd>
                    }
                </dl>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Professionals_ByCountry")</dt>
                    @foreach (var c in countries)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(c.Text, "SearchProfiles", new { filters = new Classy.DotNet.Mvc.ViewModels.Profiles.SearchProfileViewModel<MyHome.Models.ProfessionalMetadata> { Country = c.Value }.ToSlug() })</dd>
                    }
                </dl>
            </li>
        </ul>
    </div>
}

@section scripts {
    @Scripts.Render("~/scripts/jquery.backstretch.js")

    <script>
        var slideshowData = [
            { name: 'Ceramico BVBA', url: '/profile/1069/ceramico-bvba' },
            { name: 'Degré 12 - Custom Wine Cellars', url: '/profile/70/degré-12-custom-wine-cellars' },
            { name: 'Marie\'S Home', url: '/profile/101/marie\'s-home' },
            { name: 'Ceramico BVBA', url: '/profile/1069/ceramico-bvba' },
            { name: 'House Of Classics', url: '/profile/1071/house-of-classics' },
            { name: 'Echo Design', url: '/profile/1033/echo-design' },
            { name: 'Echo Design', url: '/profile/1033/echo-design' },
            { name: 'Echo Design', url: '/profile/1033/echo-design' },
            { name: 'Net A Design', url: '/profile/21/net-a-design' },
            { name: 'Art Bor Concept', url: '/profile/85/art-bor-concept' },
            { name: 'Echo Design', url: '/profile/1033/echo-design' },
            { name: 'De Jaegher Zwembaden', url: '/profile/96/de-jaegher-zwembaden' }
        ];

        $(function () {
            $('#homeslide').backstretch([
                    '//d107oye3n9eb07.cloudfront.net/slider3.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider5.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider7.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider9.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider10.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider12.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider13.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider14.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider15.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider16.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider17.jpg',
                    '//d107oye3n9eb07.cloudfront.net/slider1.jpg'
            ], { fade: 700, duration: 4000 });

            $('#homeslide .next').click(function () {
                $('#homeslide').data('backstretch').next();
            });

            $('#homeslide .prev').click(function () {
                $('#homeslide').data('backstretch').prev();
            });

            $(window).on('backstretch.before', function (e, instance, index) {
                $('#homeslide .credit a').attr('href', slideshowData[index].url).html(slideshowData[index].name);
            });
        });

    </script>
}
