@model Classy.DotNet.Mvc.ViewModels.Default.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    var rooms = Localizer.GetList("rooms");
    var styles = Localizer.GetList("room-styles");
    var proCategories = Localizer.GetList("professional-categories");
}

@section PreContent {
    <div class="home-banner">
        <div class="slogan">
            <h1>@Html.Raw(Localizer.Get("Home_Slogan"))</h1>
            <div class="signin">
                <a id="sign-in-facebook" class="btn btn-sm btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
            </div>
        </div>
    </div>
}

<div class="row home-content">
    <div class="col-md-8">
        <h3>@Localizer.Get("Home_LatestPhotos")</h3>
        <hr />
        <div class="row" id="photos">
            @if (Model.Photos.Count() > 0)
            {
                @Html.Partial("PhotoGrid", Model.Photos)
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="pro-teaser-banner hidden">
            <h3>@Localizer.Get("Home_ProTeaser")</h3>
            <hr />
            <ul class="list-unstyled benefits">
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit1")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit2")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit3")</li>
                <li><i class="glyphicon glyphicon-star"></i>@Localizer.Get("Home_ProTeaser_Benefit4")</li>
            </ul>
            <a href="#" class="btn btn-lg btn-block btn-success" authorize>@Localizer.Get("Home_CreateProAccount")</a>
        </div>

        @if (Model.Collections.Count() > 0)
        {
            <h3>@Localizer.Get("Home_RecentArticles")</h3>
            <hr />
            <ul class="media-list" id="articles">
                @foreach (var c in Model.Collections)
                {
                    <li class="media">
                        <a class="pull-left" href="@Url.RouteUrlForCurrentLocale("CollectionDetails", new { collectionId = c.Id, view = "list" })">
                            @Html.CollectionThumbnail(c, 266, 100)
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">@Html.RouteLinkForCurrentLocale(c.Title, "CollectionDetails", new { collectionId = c.Id, view = "list" })</h4>
                            <p>
                                @Localizer.Get("Home_ArticleBy") @c.Profile.GetProfileName()
                            </p>
                            <p>
                                @c.Content
                            </p>
                        </div>
                    </li>
                }
            </ul>
        }

        <h3 class="about">@Localizer.Get("Home_AboutUs")</h3>
        <hr />
        @Html.Raw(Localizer.Get("Home_AboutUs_Content"))
    </div>
</div>

@section PreFooter{
    <div class="container">
        <h3>@Localizer.Get("Home_List_Categories")</h3>
        <hr />
        <ul class="list-inline list-unstyled footer-categories">
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Rooms")</dt>
                    @foreach (var r in rooms)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(r.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = r.Value }.GetSearchFilterSlug(null, null) })</dd>
                    }
                </dl>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Styles")</dt>
                    @foreach (var s in styles)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(s.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = s.Value }.GetSearchFilterSlug(null, null) })</dd>
                    }
                </dl>
            </li>
            <li>
                <dl class="dl-horizontal">
                    <dt>@Localizer.Get("Home_Professionals")</dt>
                    @foreach (var p in proCategories)
                    {
                        <dd>@Html.RouteLinkForCurrentLocale(p.Text, "SearchProfiles", new { category = p.Value })</dd>
                    }
                </dl>
            </li>
        </ul>
    </div>
}

@section scripts {
    @Scripts.Render("~/scripts/jquery.backstretch.js")

    <script>
        OnFacebookLogin = function (profile) { window.document.location.href = "/profile/reviews/new"; }

        $(function () {
            $('.home-banner').backstretch('/img/home-banner.jpg');
        });

    </script>
}
