@model IList<Classy.DotNet.Responses.ListingView>
@{
    ViewBag.Title = "Home Page";  
}

@section PreContent {
    <div class="home-banner">
        <div class="slogan">
            <h1>@Html.Raw(Localizer.Get("Home_Slogan"))</h1>
            <div class="signin">
                <a id="sign-in-facebook" class="btn btn-lg btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
            </div>
        </div>
    </div>
}

<div class="row home-content">
    <div class="col-md-8">
        <h3>@Localizer.Get("Home_LatestPhotos")</h3>
        <hr />
        <div class="row" id="photos">
            @if (Model.Count() > 0)
            {
                foreach (var p in Model)
                {
                    var thumb = p.ExternalMedia[0].Thumbnails.SingleOrDefault(x => x.Width == 266);
                    if (thumb != null)
                    {
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="actions hide">
                                    @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", p, "btn btn-default action like photo")
                                    @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", p, "btn btn-default action add photo")
                                </div>
                                <img src="@thumb.Url" title="@p.Title" alt="@p.Title" />
                                <div class="details">
                                    <strong>@Html.ListingLink("Photo", p)</strong>
                                    <br /><small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>
    <div class="col-md-4">
        <h3>@Localizer.Get("Home_ProTeaser")</h3>
        <hr />
    </div>
</div>

@section scripts {
    <script>
        OnFacebookLogin = function (profile) { window.document.location.href = "/profile/reviews/new"; }
    </script>
}