@model Classy.DotNet.Mvc.ViewModels.Collection.AddToCollectionViewModel
@{
    var isNewCollection = string.IsNullOrEmpty(Model.CollectionId);
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@Localizer.Get("AddToCollection_Header_Title")</h4>
</div>
<div class="modal-body">
    @using (var f = Ajax.Bootstrap().Begin(new Form("AddListingToCollection", "Collection"), new AjaxOptions {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "collect-modal-replace",
            OnSuccess = "CloseModal(data)"
        }))
    {
        @Html.Bootstrap().ValidationSummary()
        @Html.HiddenFor(x => x.CollectionType)
        @Html.HiddenFor(x => x.IncludedListings[0].Id, new { @id = "listingId" })
        @f.FormGroup().DropDownListFor(x => x.CollectionId, Model.CollectionList).Id("collectionId").ShowValidationMessage(false).OptionLabel(Localizer.Get("AddToCollection_OptionLabel")).Label().WidthLg(12).ShowRequiredStar(false)
        @f.FormGroup().Id("title").HtmlAttributes(new { style = isNewCollection ? "" : "display: none" }).TextBoxFor(x => x.Title).ShowValidationMessage(false).Label().WidthLg(12).ShowRequiredStar(false)
        @f.FormGroup().TextAreaFor(x => x.IncludedListings[0].Comments).Label().WidthLg(12).LabelText(Localizer.Get("AddListingToCollection_Comment"))

        @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Style(ButtonStyle.Success).Text(Localizer.Get("AddToCollection_Submit")))
    }
</div>

<script>
    $('#collectionId').change(function () {
        if ($(this).val() == '') $('#title').show();
        else $('#title').hide();
    });
</script>

