@model Classy.DotNet.Responses.CollectionView

@{
    ViewBag.Title = string.Concat(Model.Title, " - ", Model.Profile.GetProfileName());
    var meta = Model.Content ?? string.Empty;
    ViewBag.MetaDescription = (!string.IsNullOrEmpty(Model.Content) && Model.Content.Length > 256) ? Model.Content.Substring(0, 256) : Model.Content;
    var photos = Model.Listings != null ? Model.Listings.Where(x => x.ListingType == "Photo") : new List<Classy.DotNet.Responses.ListingView>();
    var proCategories = Localizer.GetList("professional-categories");
}

@if (TempData["PostComment_Success"] != null)
{
    @Html.Bootstrap().Alert(Localizer.Get("PostComment_Success")).Closeable().Style(AlertColor.Success)
}

@section ActionBar {
    @if (User.Identity.IsAuthenticated && Model.Profile.CanEdit())
    {
        if (Model.Type == "Project")
        {
            <a href="@Url.RouteUrl("EditCollection")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i> @Localizer.Get("Profile_EditProject")</a>
            <a data-href="@Url.RouteUrl("DeleteCollection")" trigger-project-action="delete" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-trash"></i> @Localizer.Get("Profile_DeleteProject")</a>
            <a href="#" data-toggle="modal" data-target="#select-cover-modal" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-picture"></i> @Localizer.Get("Project_SelectCoverPhotos")</a>
        }
        else
        {
            <a href="@Url.RouteUrl("EditCollection")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i> @Localizer.Get("Profile_EditCollection")</a>
            <a data-href="@Url.RouteUrl("DeleteCollection")" trigger-collection-action="delete" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-trash"></i> @Localizer.Get("Profile_DeleteCollection")</a>
            <a href="#" data-toggle="modal" data-target="#select-cover-modal" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-picture"></i> @Localizer.Get("Collection_SelectCoverPhotos")</a>
        }
    }
}

<div class="collection row">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
        <div class="alert alert-dismissable hide" id="pageAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span></span>
        </div>
        <div class="profile clearfix">
            <img src="@Model.Profile.AvatarUrl(50, true)" width="50" class="pull-left img-circle" />
            <div class="details">
                @Html.ProfileLink(Model.Profile)
                @if (Model.Profile.IsProfessional && !string.IsNullOrEmpty(Model.Profile.ProfessionalInfo.Category))
                {
                    <br />
                    <span>@proCategories.Single(x => x.Value == Model.Profile.ProfessionalInfo.Category).Text</span>
                }
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <hr />
        <p>@Model.Content</p>
        <div class="row" id="photos">
            @if (photos != null)
            {
                @Html.Partial("PhotoGrid", new MyHome.Models.PhotoGridViewModel { Results = photos.ToList(), ThumbnailSize = 380, ShowCopyrightMessages = true })
            }
        </div>

        <div>
            <p>
                <h4 class="panel-title">@Localizer.Get("CollectionDetails_Comments")</h4>
            </p>
        
            @if (Model.Comments.Count == 0)
            {
                <p>@Localizer.Get("CollectionDetails_NoComments")</p>
            }
            
            @foreach (var c in Model.Comments)
            {
                <p class="comment">
                    <div class="media">
                        <div class="pull-left">
                            <img src="@c.Profile.AvatarUrl(40, true)" width="40" class="img-circle" />
                        </div>
                        <div class="media-body">
                            <strong class="media-heading">@Html.ProfileLink(c.Profile):</strong>
                            <p>@c.Content</p>
                        </div>
                    </div>
                </p>
            }

            @using (var f = Html.Bootstrap().Begin(new Form("PostComment", "Collection").Type(FormType._NotSet)))
            {
                @Html.Hidden("CollectionId", Model.Id);
                @f.FormGroup().TextArea("Content").Value(string.Empty).Rows(3).ShowValidationMessage(false).HelpText(Localizer.Get("CollectionComment_Tip")).Label().LabelText(Localizer.Get("PhotoDetails_Comment_Content"))
                @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("CollectionDetails_Comment_Submit")).Style(ButtonStyle.Primary).HtmlAttributes(new { authorize = "true" }))
            }
        </div>
    </div>
</div>

<div class="modal fade" id="select-cover-modal" data-backdrop="static" data-remote="@Url.RouteUrl("SelectCollectionCoverPhotos", new { collectionId = Model.Id })">
    <div class="modal-dialog">
        <div class="modal-content" id="select-cover-replace">
        </div>
    </div>
</div>
