@model Classy.DotNet.Responses.CollectionView

@{
    ViewBag.Title = "CollectionDetails";
    var photos = Model.Listings != null ? Model.Listings.Where(x => x.ListingType == "Photo") : new List<Classy.DotNet.Responses.ListingView>();
    var proCategories = Localizer.GetList("professional-categories");
}

<div class="collection row">
    <h1>@Model.Title</h1>
    @if (User.Identity.IsAuthenticated && Model.Profile.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id)
    {
        <div class="profile-actions">
            <a href="@Url.RouteUrl("EditCollection")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i>@Localizer.Get("Profile_EditCollection")</a>
        </div>
    }
    <p>@Model.Content</p>

    <div class="profile clearfix">
        <img src="@Model.Profile.ThumbnailUrl" width="50" class="pull-left" />
        <div class="details">
            @Html.ProfileLink(Model.Profile)
            @if (Model.Profile.IsProfessional && !string.IsNullOrEmpty(Model.Profile.ProfessionalInfo.Category))
            {
                <br />
                <span>@proCategories.Single(x => x.Value == Model.Profile.ProfessionalInfo.Category).Text</span>
            }
        </div>
    </div>

    <div class="row" id="photos">
        @if (photos != null)
        {
            foreach (var p in photos)
            {
                //if (p.ExternalMedia.Count() > 0 && p.ExternalMedia[0].Thumbnails != null)
                //{
                //    var thumb = p.ExternalMedia[0].Thumbnails.SingleOrDefault(x => x.Width == 400);
                //    if (thumb != null)
                //    {
            <div class="col-md-4">
                <div class="thumbnail">
                    @*<div class="actions hide">
                        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", p, "btn btn-default action like onphoto")
                        @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", p, "btn btn-default action add onphoto")
                    </div>*@
                    @Html.Partial("PhotoActions", new Classy.DotNet.Mvc.ViewModels.Listing.PhotoActionsViewModel { Listing = p, ShowFavorite = true, ShowCollect = true, ShowEdit = false, ShowRemove = false });
                    @Html.Thumbnail(p, 400)
                    @*<img src="@thumb.Url" title="@p.Title" alt="@p.Title" />*@
                    <div class="details">
                        <strong>@Html.ListingLink("Photo", p)</strong><br />
                        <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                    </div>
                </div>
            </div>
                //    }
                //}
            }
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('.thumbnail').mouseover(function () {
                $(this).find('.actions').removeClass('hide');
            });
            $('.thumbnail').mouseout(function () {
                $(this).find('.actions').addClass('hide');
            });
        });
    </script>
}

