@model Classy.DotNet.Mvc.ViewModels.Collection.EditCollectionViewModel

@{
    ViewBag.Title = "EditCollection";
    var photos = Model.Listings != null ? Model.Listings.Where(x => x.ListingType == "Photo") : new List<Classy.DotNet.Responses.ListingView>();
    var comments = Model.IncludedListings != null ? Model.IncludedListings.ToDictionary(l => l.Id, l => l.Comments) : new Dictionary<string, string>();
}

<div class="row">
    <div class="col-md-12">
        @if (TempData["UpdateCollectionSuccess"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>@Localizer.Get("EditCollection_Success_Title")</h4>
                <p>@Localizer.Get("EditCollection_Success")</p>
                <p>@Html.RouteLink(Localizer.Get("EditCollection_Success_Action"), "CollectionDetails", new { collectionId = Model.CollectionId, view = "list" }, new { @class = "btn btn-success" })</p>
            </div>
        }
        @if (TempData["UpdateCollectionError"] != null)
        {
            @Html.Bootstrap().Alert(Localizer.Get("UpdateCollection_Error")).Style(AlertColor.Danger)
        }

        <h1>@Localizer.Get("EditCollection_FormTitle")</h1>
        <hr />

        @Html.Bootstrap().ValidationSummary()

        @using (var f = Html.Bootstrap().Begin(new Form("EditCollection", "Collection")))
        {
            @f.FormGroup().TextBoxFor(x => x.Title).ShowValidationMessage(false).Label().ShowRequiredStar(false)
            @f.FormGroup().TextAreaFor(x => x.Content).ShowValidationMessage(false).Label()

            <div class="collection-items" collection-id="@Model.CollectionId">
                <h4>@Localizer.Get("EditCollection_ExplainPhotoComments")</h4>
                <hr />

                @for (int i = 0; i < Model.IncludedListings.Length; i++)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <div class="thumbnail">
                                @{
                                    var item = photos.First(p => p.Id == Model.IncludedListings[i].Id);
                                    @Html.Partial("PhotoActions", new MyHome.Models.PhotoActionsViewModel { Listing = item, ShowCollect = false, ShowEdit = false, ShowFavorite = false, ShowRemove = true })
                                    @Html.Thumbnail(item, 301)
                                }
                            </div>
                        </div>
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.IncludedListings[i].Id)
                            <textarea class="form-control" id="@string.Format("IncludedListings_{0}__Comments", i)" name="@string.Format("IncludedListings[{0}].Comments", i)">@(comments.ContainsKey(item.Id) ? comments[item.Id] : string.Empty)</textarea>
                        </div>
                    </div>
                }
            </div>

            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("EditCollection_Save")).Style(ButtonStyle.Primary))
        }
    </div>
</div>
