@model Classy.DotNet.Mvc.ViewModels.Listing.CreateListingViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "CreateListing_photo";
    Html.Bootstrap().Globals().ShowRequiredStar(false);
}

<h2>@Localizer.Get("CreatePhoto_PageTitle")</h2>

@if (TempData["CreateListingSuccess"] != null)
{
    @Html.Bootstrap().Alert(Localizer.Get("CreatePhoto_Success")).Style(AlertColor.Success)
    var listing = TempData["CreateListingSuccess"] as Classy.Models.Response.ListingView;
    <img src="@listing.ExternalMedia[0].Url" width="350" />
}

@Html.Bootstrap().ValidationSummary()

@using (var f = Html.Bootstrap().Begin(new Form("CreateListing", "Photo").HtmlAttributes(new {enctype = "multipart/form-data"})))
{
    @f.FormGroup().TextBoxFor(x => x.Title).ShowValidationMessage(false).Label()
    @f.FormGroup().TextBoxFor(x => x.Content).ShowValidationMessage(false).Label()
    @f.FormGroup().File("file").Label().Class("sr-only")
    
    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("CreatePhoto_Submit"))) 
}