@model Classy.DotNet.Mvc.ViewModels.Listing.ListingDetailsViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "PhotoDetails";
    var rooms = Localizer.GetList("rooms");
    var styles = Localizer.GetList("room-styles");
    var proCategories = Localizer.GetList("professional-categories");
}

<div class="row photo-details">
    <div class="col-md-7">

        <div class="photo clearfix">
            <img src="@Model.Listing.ExternalMedia[0].Url" class="img-responsive" />
            <div class="stats">
                <span><i class="glyphicon glyphicon-eye-open"></i> @string.Format(Localizer.Get("PhotoDetails_ViewCount"), Model.Listing.ViewCount)</span>
                <span><i class="glyphicon glyphicon-th-large"></i> @string.Format(Localizer.Get("PhotoDetails_CollectionCount"), Model.Listing.AddToCollectionCount)</span>
                <span><i class="glyphicon glyphicon-heart"></i> @string.Format(Localizer.Get("PhotoDetails_FavoriteCount"), Model.Listing.FavoriteCount)</span>
                <span><i class="glyphicon glyphicon-comment"></i> @string.Format(Localizer.Get("PhotoDetails_CommentCount"), Model.Listing.CommentCount)</span>
            </div>
        </div>
        
        <h2>@Model.Listing.Title</h2>
        <p>@Model.Listing.Content</p>
        @if (!string.IsNullOrEmpty(Model.Metadata.CopyrightMessage)) {
            <p>@Localizer.Get("PhotoDetails_PhotoCredit") @Model.Metadata.CopyrightMessage</p>
        }

        <hr/>
        <h4>@Localizer.Get("PhotoDetails_InThisPhoto")</h4>
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <span class="hide">
                <a href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new {})" itemprop="url"><span itemprop="title">@Localizer.Get("Breadcrumb_AllRooms")</span></a>
            </span>
            <dl class="dl-horizontal">
                <dt>@Localizer.Get("PhotoDetails_Room")</dt>
                <dd><a itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room }.GetSearchFilterSlug(null, null) })">@rooms.Single(x => x.Value == Model.Metadata.Room).Text</a></dd>
                <dt>@Localizer.Get("PhotoDetails_Style")</dt>
                <dd>@Html.RouteLinkForCurrentLocale(styles.Single(x => x.Value == Model.Metadata.Style).Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = Model.Metadata.Style }.GetSearchFilterSlug(null, null) })</dd>
                <dt>@Localizer.Get("PhotoDetails_Keywords")</dt>
                <dd>
                    @foreach (var t in Model.Listing.Hashtags)
                    {
                        @Html.RouteLinkForCurrentLocale(t, "SearchPhoto", new { filters = t.TrimStart('#') })<span>&nbsp;</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-5">
        <div class="profile clearfix">
            <img src="@Model.Listing.Profile.ThumbnailUrl" width="50" class="pull-left" />
            <div class="details">
                @Html.ProfileLink(Model.Listing.Profile)
                @if (Model.Listing.Profile.IsProfessional && !string.IsNullOrEmpty(Model.Listing.Profile.ProfessionalInfo.Category))
                {
                    <br />
                    <span>@proCategories.Single(x => x.Value == Model.Listing.Profile.ProfessionalInfo.Category).Text</span>
                }
            </div>
        </div>
        
        <hr />

        <div class="actions">
            <a href="#" class="btn btn-success action share"><i class="glyphicon glyphicon-share"></i></a>
            @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", Model.Listing, "btn btn-default action like")
            @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", Model.Listing, "btn btn-default action add")
        </div>

        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("PhotoDetails_Comments")</h3>
            </div>
            <div class="panel-body comments">
                @if (Model.Listing.CommentCount == 0)
                {
                    <p>@Localizer.Get("PhotoDetails_NoComments")</p>
                }
                @foreach (var c in Model.Listing.Comments)
                {
                    <div class="comment">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="@c.Profile.ThumbnailUrl" width="40" />
                            </div>
                            <div class="col-md-10 content">
                                <strong>@Html.ProfileLink(c.Profile):</strong>
                                <p>@c.Content</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                }

                @using (var f = Html.Bootstrap().Begin(new Form("PostComment")))
                {
                    @Html.Hidden("ListingId", Model.Listing.Id);
                    @f.FormGroup().TextArea("Content").Rows(3).ShowValidationMessage(false).Label().WidthLg(12).LabelText(Localizer.Get("PhotoDetails_Comment_Content"))
                    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("PhotoDetails_Comment_Submit")).Class("btn-success").HtmlAttributes(new { authorize = "true" }))
                }
            </div>
        </div>
    </div>
</div>