@model Classy.DotNet.Mvc.ViewModels.Listing.ListingDetailsViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "PhotoDetails";
}

<h2>@Model.Listing.Title</h2>
<p>@Model.Listing.Content</p>

@Html.Bootstrap().ValidationSummary()

<img src="@Model.Listing.ExternalMedia[0].Url" />

<div class="row likes">
    <h4>@Model.Listing.FavoriteCount people like this photo:</h4>
    @foreach (var p in Model.Listing.FavoritedBy)
    {
        <div class="col-sm-1">
            <img src="@p.ImageUrl" width="32px" />
            <br />@Html.ProfileLink(p)
        </div>
    }
    @Html.TriggerListingActionLink("Like this Photo", "favorite", Model.Listing)
</div>
<br />
<br />
@foreach (var t in Model.Listing.Hashtags)
{
    @t<span>&nbsp;</span>
}

<h4>Comments:</h4>

@if (Model.Listing.CommentCount == 0)
{
    <p>Be the first to comment on this photo</p>
}

@foreach (var c in Model.Listing.Comments)
{
    <div class="comment row">
        <div class="col-md-1">
            <img src="@c.Profile.ImageUrl" width="32" />
            <br />
            @Html.ProfileLink(c.Profile)
        </div>
        <div class="col-md-4">
            <blockquote>@c.Content</blockquote>
        </div>
    </div>
}


@using (var f = Html.Bootstrap().Begin(new Form("PostComment")))
{
    @Html.Hidden("ListingId", Model.Listing.Id);
    @f.FormGroup().TextArea("Content").ShowValidationMessage(false).Label().LabelText("הוספת תגובה:")
    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text("שלח תגובה").HtmlAttributes(new { authorize = "true" }))
}
