@model Classy.DotNet.Mvc.ViewModels.Listing.ListingDetailsViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "PhotoDetails";
}

<div class="row">
    <div class="col-md-7">

        <div class="photo">
            <img src="@Model.Listing.ExternalMedia[0].Url" class="img-responsive" />
            <div class="share">
                @Html.TriggerListingActionLink("Like this Photo", "favorite", Model.Listing) /
                @Html.TriggerListingActionLink("Add to Collection", "collect", Model.Listing)
            </div>
        </div>
        
        <h2>@Model.Listing.Title</h2>
        <p>@Model.Listing.Content</p>

        <hr/>
        <h4>@Localizer.Get("PhotoDetails_Keywords")</h4>
        <div class="keywords">
            @foreach (var t in Model.Listing.Hashtags)
            {
                @Html.RouteLinkForCurrentLocale(t, "SearchPhoto", new { filters = t.TrimStart('#') })<span>&nbsp;</span>
            }
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@string.Format(Localizer.Get("PhotoDetails_Likes"), Model.Listing.FavoriteCount)</h3>
            </div>
            <div class="panel-body social-thumbnails">
                <ul class="list-inline">
                    @foreach (var p in Model.Listing.FavoritedBy)
                    {
                        <li class="thumbnail">
                            <a href="@Url.ProfileUrl(p)">
                                <img src="@p.ThumbnailUrl" width="30" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("PhotoDetails_Comments")</h3>
            </div>
            <div class="panel-body comments">
                @if (Model.Listing.CommentCount == 0)
                {
                    <p>@Localizer.Get("PhotoDetails_NoComments")</p>
                }
                @foreach (var c in Model.Listing.Comments)
                {
                    <div class="comment">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="@c.Profile.ThumbnailUrl" width="40" />
                            </div>
                            <div class="col-md-10 content">
                                <strong>@Html.ProfileLink(c.Profile):</strong>
                                <p>@c.Content</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                }

                @using (var f = Html.Bootstrap().Begin(new Form("PostComment")))
                {
                    @Html.Hidden("ListingId", Model.Listing.Id);
                    @f.FormGroup().TextArea("Content").Rows(3).ShowValidationMessage(false).Label().WidthLg(12).LabelText(Localizer.Get("PhotoDetails_Comment_Content"))
                    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("PhotoDetails_Comment_Submit")).Class("btn-success").HtmlAttributes(new { authorize = "true" }))
                }
            </div>
        </div>
    </div>
</div>