@model Classy.DotNet.Mvc.ViewModels.Listing.SearchListingsViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "Search Photos";

    var CategoryList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Flowers",
            Value = "flowers"
        }
    };
}

<div class="row">
    <div class="sidebar col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("SearchPhotos_Sidebar_Popular")</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("#flowers", "SearchPhoto", new { tag = "flowers" })
            </div>
        </div>
    </div>

    <div class="main col-md-10">
        <h1>
            @string.Format(Localizer.Get("SearchPhotos_Results_Title"), Model.Results.Count, Model.Tag)
        </h1>

        <div class="search-form">
            @using (var f = Html.Bootstrap().Begin(new Form("Search", "Photo").Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                    @f.FormGroup().TextBoxFor(x => x.Tag).Placeholder(Localizer.Get("Search_Keyword")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMin).Placeholder(Localizer.Get("Search_CostFrom")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMax).Placeholder(Localizer.Get("Search_CostTo")).Label().Class("sr-only")
                    @Html.Bootstrap().SubmitButton().Class("btn-success").Text(Localizer.Get("Search_Submit"))
            }
            </div>

        <div class="row" id="photos">
            @if (Model.Results != null)
            {
                foreach (var p in Model.Results)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="actions hide">
                                @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", p, "btn btn-default action like")
                                @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", p, "btn btn-default action add")
                            </div>
                            <img src="@p.ExternalMedia[0].Url" title="@p.Title" alt="@p.Title" width="100%" />
                            <strong>@Html.ListingLink("Photo", p)</strong>
                            <br /><small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                        </div> 
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
<script>

    $(function () {
        $('.thumbnail').mouseover(function () {
            $(this).find('.actions').removeClass('hide');
        });
        $('.thumbnail').mouseout(function () {
            $(this).find('.actions').addClass('hide');
        });
    });

</script>
    
}