@model Classy.DotNet.Mvc.ViewModels.Listing.SearchListingsViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "Search Photos";

    var CategoryList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Flowers",
            Value = "flowers"
        }
    };
}

<div class="row">
    <div class="sidebar col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Results For</h3>
            </div>
            <div class="panel-body" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                @if (!string.IsNullOrEmpty(Model.Metadata.Room)) {
                    <span class="tag">
                        <a class="content" itemscope itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@Model.Metadata.Room</a>
                        <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { }.GetSearchFilterSlug(Model.Tag, Model.Location) })">x</a>
                    </span>
                }
                <br />
                @if (!string.IsNullOrEmpty(Model.Metadata.Style))
                {
                    <span class="tag">
                        <a class="content" itemscope itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@Model.Metadata.Style</a>
                        <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room }.GetSearchFilterSlug(Model.Tag, Model.Location) })">x</a>
                    </span>
                }
                <br />                
                @if (!string.IsNullOrEmpty(Model.Tag))
                {
                    <span class="tag">
                        <a class="content" itemscope itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@Model.Tag</a>
                        <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(null, Model.Location) })">x</a>
                    </span>
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rooms</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("Kitchen", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = "kitchen" }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Bath", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = "bath" }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Bedroom", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = "bedroom" }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Living", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = "living-room" }.GetSearchFilterSlug(null, Model.Location) })
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Styles</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("Eclectic", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = "eclectic", Room = Model.Metadata.Room }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Modern", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = "modern", Room = Model.Metadata.Room }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Contemporary", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = "contemporary", Room = Model.Metadata.Room }.GetSearchFilterSlug(null, Model.Location) })
                @Html.RouteLinkForCurrentLocale("Classic", "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = "classic", Room = Model.Metadata.Room }.GetSearchFilterSlug(null, Model.Location) })
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("SearchPhotos_Sidebar_Popular")</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("#flowers", "SearchPhoto", new { filters = "flowers" })
            </div>
        </div>
    </div>

    <div class="main col-md-10">
        <h1>
            @string.Format(Localizer.Get("SearchPhotos_Results_Title"), Model.Results.Count, Model.Tag)
        </h1>
        <hr/>

        <div class="search-form">
            @using (var f = Html.Bootstrap().Begin(new Form("Search", "Photo").Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                    @* to support postback *@ 
                    @Html.HiddenFor(x => x.Metadata.Room)
                    @Html.HiddenFor(x => x.Metadata.Style)

                    @* form on screen *@
                    @f.FormGroup().TextBoxFor(x => x.Tag).Placeholder(Localizer.Get("Search_Keyword")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMin).Placeholder(Localizer.Get("Search_CostFrom")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMax).Placeholder(Localizer.Get("Search_CostTo")).Label().Class("sr-only")
                    @Html.Bootstrap().SubmitButton().Class("btn-success").Text(Localizer.Get("Search_Submit"))
            }
        </div>

        <div class="row" id="photos">
            @if (Model.Results != null)
            {
                foreach (var p in Model.Results)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="actions hide">
                                @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", p, "btn btn-danger action like")
                                @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", p, "btn btn-default action add")
                            </div>
                            @{
                                var thumb = p.ExternalMedia[0].Thumbnails.SingleOrDefault(x => x.Width == 301);
                            }
                            <img src="@thumb.Url" title="@p.Title" alt="@p.Title" />
                            <div class="details">
                                <strong>@Html.ListingLink("Photo", p)</strong><br/>                                
                                <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                            </div>
                        </div> 
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
<script>

    $(function () {
        $('.thumbnail').mouseover(function () {
            $(this).find('.actions').removeClass('hide');
        });
        $('.thumbnail').mouseout(function () {
            $(this).find('.actions').addClass('hide');
        });
    });

</script>
    
}