@model Classy.DotNet.Mvc.ViewModels.Listing.SearchListingsViewModel<MyHome.Models.PhotoMetadata>

@{
    var CategoryList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Flowers",
            Value = "flowers"
        }
    };

    var rooms = Localizer.GetList("rooms");
    var styles = Localizer.GetList("room-styles");

    ViewBag.Title = string.Format(Localizer.Get("PhotoSearch_PageTitle"), !string.IsNullOrEmpty(Model.Metadata.Style) ? styles.Single(x => x.Value == Model.Metadata.Style).Text : "", !string.IsNullOrEmpty(Model.Metadata.Room) ? rooms.Single(x => x.Value == Model.Metadata.Room).Text : Localizer.Get("PhotoSearch_Home"));
    ViewBag.MetaDescription = string.Format(Localizer.Get("PhotoSearch_MetaDescription"), !string.IsNullOrEmpty(Model.Metadata.Style) ? styles.Single(x => x.Value == Model.Metadata.Style).Text : Localizer.Get("PhotoSearch_Home"), !string.IsNullOrEmpty(Model.Metadata.Room) ? rooms.Single(x => x.Value == Model.Metadata.Room).Text : Localizer.Get("PhotoSearch_Home"));

}

<div class="row">
    <div class="sidebar col-md-3">
        <div class="panel panel-default panel-first">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("PhotoSearch_Title_Rooms")</h3>
            </div>
            <div class="panel-body panel-links">
                @foreach (var r in rooms)
                {
                    @Html.RouteLinkForCurrentLocale(r.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = r.Value }.GetSearchFilterSlug(null, Model.Location) })
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("PhotoSearch_Title_Styles")</h3>
            </div>
            <div class="panel-body panel-links">
                @foreach (var s in styles)
                {
                    @Html.RouteLinkForCurrentLocale(s.Text, "SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Style = s.Value, Room = Model.Metadata.Room }.GetSearchFilterSlug(null, Model.Location) })
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("SearchPhotos_Sidebar_Popular")</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("#flowers", "SearchPhoto", new { filters = "flowers" })
            </div>
        </div>
    </div>

    <div class="main col-md-9">
        <h1>
            @string.Format(Localizer.Get("SearchPhotos_Results_Title"), Model.Count, Model.Tag)
        </h1>
        <div class="label-container" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            @if (!string.IsNullOrEmpty(Model.Metadata.Room))
            {
                <span class="label label-danger">
                    <a class="content" itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@rooms.Single(x => x.Value == Model.Metadata.Room).Text</a>
                    <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { }.GetSearchFilterSlug(Model.Tag, Model.Location) })">x</a>
                </span>
            }
            @if (!string.IsNullOrEmpty(Model.Metadata.Style))
            {
                <span class="label label-danger">
                    <a class="content" itemprop="@(!string.IsNullOrEmpty(Model.Metadata.Room) ? "child" : "url")" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@styles.Single(x => x.Value == Model.Metadata.Style).Text</a>
                    <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room }.GetSearchFilterSlug(Model.Tag, Model.Location) })">x</a>
                </span>
            }
            @if (!string.IsNullOrEmpty(Model.Tag))
            {
                <span class="label label-danger">
                    <a class="content" itemprop="@(!string.IsNullOrEmpty(Model.Metadata.Style) && !string.IsNullOrEmpty(Model.Metadata.Room) ? "child" : "url")" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(Model.Tag, Model.Location) })">@Model.Tag</a>
                    <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchPhoto", new { filters = new MyHome.Models.PhotoMetadata { Room = Model.Metadata.Room, Style = Model.Metadata.Style }.GetSearchFilterSlug(null, Model.Location) })">x</a>
                </span>
            }
        </div>

        <hr />

        <div class="search-form">
            <!--
            @using (var f = Html.Bootstrap().Begin(new Form("Search", "Photo").Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                    @* to support postback *@ 
                    @Html.HiddenFor(x => x.Metadata.Room)
                    @Html.HiddenFor(x => x.Metadata.Style)

                    @* form on screen *@
                    @f.FormGroup().TextBoxFor(x => x.Tag).Placeholder(Localizer.Get("Search_Keyword")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMin).Placeholder(Localizer.Get("Search_CostFrom")).Label().Class("sr-only")
                    @f.FormGroup().TextBoxFor(x => x.PriceMax).Placeholder(Localizer.Get("Search_CostTo")).Label().Class("sr-only")
                    @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Primary).Text(Localizer.Get("Search_Submit"))
            }-->
        </div>

        <div id="photos" class="row iscroll" data-item-class=".thumbnail" data-hasMore="@(Model.Results.Count == Classy.DotNet.Responses.AppView.PageSize ? "true" : "false")" 
            data-url="@Url.RouteUrlForCurrentLocale("SearchPhoto")"
            data-page-size="@Classy.DotNet.Responses.AppView.PageSize" data-page="@(string.IsNullOrEmpty(Request["page"]) ? 1 : int.Parse(Request["page"]))">
            @if (Model.Results != null)
            {
                @Html.Partial("PhotoGrid", Model.Results)
            }
        </div>
        <div class="clearfix text-center hidden" id="iscrollLoading"><img src="~/img/ajax-loader.gif" /></div>
        <div id="pager" class="text-center" style="font-size: 12px">
            <ul class="pagination" data-total="@((int)Math.Ceiling((decimal)Model.Count / Classy.DotNet.Responses.AppView.PageSize))" 
                data-pages="@Classy.DotNet.Responses.AppView.PagesCount">
                <li><a href="#">@Localizer.Get("Paging_Prev")</a></li>
                @for (int i = 0; i < Classy.DotNet.Responses.AppView.PagesCount; i++)
                {
                    <li><a href="#">@(i + 1)</a></li>
                }
                <li><a href="#">@Localizer.Get("Paging_Next")</a></li>
            </ul>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/iscroll.js"></script>
    <script>

        $(function () {
            resetPagination(@(string.IsNullOrEmpty(Request["page"]) ? 1 : int.Parse(Request["page"])));
        });

    </script>


}