@model IList<Classy.DotNet.Responses.CollectionView>

@{
    
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@Localizer.Get("SelectListingsModal_Title")</h4>
</div>
<div class="modal-body clearfix">
    
    <div class="collections-container row hide-when-loading">
        <div class="row" style="margin: 20px auto;">
            @foreach (var collection in Model)
            {
                <div class="col-md-4 collection" data-collection-id="@collection.Id">
                    @Html.Partial("Thumbnails", collection.CoverPhotos)
                </div>
            }
        </div>
    </div>
    
    <div class="photos-container hide-when-loading hidden">
        <div>
            <p><a href="#" class="back"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;@Localizer.Get("LoadFacebookAlbums_Back")</a></p>
        </div>
        <div>
            <p>Please select between 2-4 photos</p>
        </div>
        <div class="photos">
            <!-- photos here -->
        </div>
    </div>
    
    <div class="loader hidden">
        <img src="~/img/ajax-loader.gif"/>
    </div>

</div>
<div class="modal-footer">
    <div class="col-md-12"><a class="btn btn-primary save-btn">@Localizer.Get("SelectListingsModal_SubmitButton")</a></div>
</div>

@Scripts.Render("~/scripts/select-listings-modal.js")
<script language="javascript" type="text/javascript">
    Classy.Polls.SelectListingsModal().Init();
</script>