@model Classy.DotNet.Mvc.ViewModels.Profiles.AskForReviewModel

@{
    ViewBag.Title = Localizer.Get("Profile_AskForReview");
}

<div class="row">
    <div class="col-md-8 main">
        <h1>@Localizer.Get("Profile_AskForReview")</h1>
        <hr />
       
        @if (Model.GoogleContacts != null && Model.GoogleContacts.Count() > 0)
        {
            <h4>@Localizer.Get("AskForReview_GoogleContactsTitle")</h4>
            <div class="google-contacts list-group">
                @foreach (var contact in Model.GoogleContacts)
                {
                    <a class="email list-group-item" data-name="@(string.IsNullOrEmpty(contact.Name) ? contact.Email : contact.Name)" data-email="@contact.Email" onclick="addContact(this)"><span>@(string.IsNullOrEmpty(contact.Name) ? contact.Email : string.Format("{0} <{1}>", contact.Name, contact.Email))</span></a>
                }
            </div>
        }

        @using (var f = Html.Bootstrap().Begin(new Form("AskForReview").RouteValues(new { ProfileId = Model.ProfileId }).FormMethod(FormMethod.Post).Id("AskForReviewForm").Type(FormType.Horizontal)))
        {
            <span class="contactList">
                @f.FormGroup().TextAreaFor(x => x.Contacts).Rows(3).HelpText(Localizer.Get("AskForReview_Message_Help")).ShowValidationMessage(false).Label().ShowRequiredStar(false)
                @f.FormGroup().TextAreaFor(x => x.Message).Rows(5).Value(Localizer.Get("AskForReviews_DefaultMessage")).ShowValidationMessage(false).Label().ShowRequiredStar(false)
            </span>
            @*@Html.Bootstrap().CheckBoxFor(x => x.SaveAsDefault).IsChecked(false).ShowValidationMessage(false).Label().ShowRequiredStar(false)*@
            @f.FormGroup().CustomControls(Html.Bootstrap().Button().Text(Localizer.Get("AskForReviews_Submit")).Style(ButtonStyle.Primary).HtmlAttributes(new { onclick = "AskForReviewForm.submit()" }))
        }
    </div>
    <div class="col-md-3 col-md-offset-1 helpbar">
        <div class="helpbar">
            <h1>@Localizer.Get("AskForReview_Help_Title")</h1>
            <div class="content">
                @Localizer.Get("AskForReview_Help_Content")
                <div class="text-center">
                    @if (!Model.IsGoogleConnected)
                    {
                        <hr/>
                        <div class="lnk-select-contant">
                            <a href="#" onclick="auth()" class="btn btn-danger">@Localizer.Get("AskForReviews_ImportFromGmail")</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    div.tagsinput {
        border: 1px solid #CCC;
        background: #FFF;
        padding: 5px;
        width: 300px;
        height: 100px;
        overflow-y: auto;
    }

        div.tagsinput span.tag {
            border: 1px solid #a5d24a;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            display: block;
            float: left;
            padding: 5px;
            text-decoration: none;
            background: #cde69c;
            color: #638421;
            margin-right: 5px;
            margin-bottom: 5px;
            font-family: helvetica;
            font-size: 13px;
        }

            div.tagsinput span.tag a {
                font-weight: bold;
                color: #82ad2b;
                text-decoration: none;
                font-size: 11px;
            }

        div.tagsinput input {
            width: 80px;
            margin: 0px;
            font-family: helvetica;
            font-size: 13px;
            border: 1px solid transparent;
            padding: 5px;
            background: transparent;
            color: #000;
            outline: 0px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        div.tagsinput div {
            display: block;
            float: left;
        }

    .tags_clear {
        clear: both;
        width: 100%;
        height: 0px;
    }

    .not_valid {
        background: #FBD8DB !important;
        color: #90111A !important;
    }

    .contactList .control-label {
        text-align: left;
    }
</style>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.tagsinput.js")

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js?onload=gapiReady';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        var additionalParams = {
            client_id: "178124155711-2sad5cqdcbtp7bi74modj49e89474qc7.apps.googleusercontent.com",
            scope: "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/contacts.readonly",
            immediate: true
        };

        function auth() {
            gapi.auth.authorize(additionalParams, signinCallback);
        }

        function signinCallback(authResult) {
            if (authResult && !authResult.error) {
                var authParams = gapi.auth.getToken();
                GoogleLogin(authParams.access_token);
            } else {
                additionalParams.immediate = false;
                gapi.auth.authorize(additionalParams, signinCallback);
            }
        }

        function addContact(anchor) {
            var name = $(anchor).data("name");
            var email = $(anchor).data("email");
            $('#Contacts').addTag(email);
        }

        $('#Contacts').tagsInput({
            width: 'auto',
            defaultText: '@Localizer.Get("AskForReview_AddEmail")'
        });

        function gsReady() {
            @if (Model.IsGoogleConnected && Model.GoogleContacts == null)
            {
                <text>
                auth();
                </text>
            }
        }
    </script>
}