@model Classy.DotNet.Mvc.ViewModels.Profiles.ChangePasswordViewModel

@{
    Html.Bootstrap().Globals().ShowRequiredStar(false);
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@Localizer.Get("ChangePassword_Header_Title")</h4>
</div>
<div class="modal-body">
    @using (var f = Ajax.Bootstrap().Begin(new Form("ChangePassword", "Profile").HtmlAttributes(new { id = "frmChangePassword" }), new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "change-password-replace",
            OnSuccess = "CloseModal(data)"
        }))
    {
        @Html.Bootstrap().ValidationSummary()
        @f.FormGroup().PasswordFor(x => x.NewPassword).ShowValidationMessage(false).Label()
        @f.FormGroup().PasswordFor(x => x.ConfirmPassword).ShowValidationMessage(false).Label()
        @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("ChangePassword_Submit")).Style(ButtonStyle.Primary))
    }
    <div class="clearfix"></div>
</div>

<script>
    function CloseContactModal(data) {
        if (CloseModal(data)) { $('#changePasswordSuccess').removeClass('hidden'); }
    }
</script>
