@model Classy.DotNet.Mvc.ViewModels.Profiles.ClaimProfileViewModel<MyHome.Models.ProfessionalMetadata>

@{
    ViewBag.Title = "CompleteProfile";
    Html.Bootstrap().Globals().ShowRequiredStar(false);
}

<div class="row">
    <div class="col-md-7 main">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>@Localizer.Get("ClaimProxy_PageTitle")</h1>

            @Html.Bootstrap().ValidationSummary()
            using (var f = Html.Bootstrap().Begin(new Form("ClaimProxyProfile").RouteValues(new { ProfileId = Model.ProfileId }).FormMethod(FormMethod.Post)))
            {
                <h4>@Localizer.Get("ClaimProxy_Teaser")</h4>
                <hr />

                <h3>@Localizer.Get("ClaimProxy_BusinessInfo")</h3>
                @f.FormGroup().TextBoxFor(x => x.CompanyName).Label().WidthLg(12)
                @f.FormGroup().DropDownListFor(x => x.Category, Localizer.GetList("professional-categories").AsSelectList()).OptionLabel(Localizer.Get("ClaimProxy_ChooseCategory")).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.WebsiteUrl).Placeholder("http://").Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.FirstName).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.LastName).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.Metadata.LicenseNo).Label().WidthLg(12)
                @f.FormGroup().TextAreaFor(x => x.Metadata.BusinessDescription).Rows(5).Label().WidthLg(12)
                @f.FormGroup().TextAreaFor(x => x.Metadata.ServicesProvided).Label().WidthLg(12)
                @f.FormGroup().TextAreaFor(x => x.Metadata.AreasServed).Label().WidthLg(12)
                @*<div>job cost from: --- to: ---</div>
                @f.FormGroup().TextAreaFor(x => x.Metadata.CostDetails).Label().WidthLg(12)*@
                @f.FormGroup().TextAreaFor(x => x.Metadata.Awards).Label().WidthLg(12)

                <h3>@Localizer.Get("ClaimProxy_ContactInfo")</h3>
                @f.FormGroup().TextBoxFor(x => x.Street1).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.City).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.Country).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.PostalCode).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.Phone).Label().WidthLg(12)
                @f.FormGroup().TextBoxFor(x => x.Email).Label().WidthLg(12)
                
                <br/><br/>
                @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("ClaimProxy_Submit")).Style(ButtonStyle.Danger))
            }
        }
        else
        {
            <div>
                <h2>@Localizer.Get("ClaimProxy_MustBeLoggedIn")</h2>
                <a href="#" class="btn btn-danger" authorize>@Localizer.Get("ClaimProxy_Login")</a>
            </div>
            @section scripts {
                <script>$(function () { $('#login-modal').modal('show'); })</script>
            }
        }
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="helpbar">
            <h1>@Localizer.Get("ClaimProxy_Copy_Title")</h1>
            <div class="content">
                @Html.Raw(Localizer.Get("ClaimProxy_Copy_Content"))
                <p>@Html.Raw(Localizer.Get("ClaimProxy_ExplainForm"))</p>
            </div>
        </div>
    </div>
</div>