@model Classy.DotNet.Mvc.ViewModels.Profiles.CreateProfessionalProfileViewModel<MyHome.Models.ProfessionalMetadata>

@{
    ViewBag.Title = Localizer.Get("CreateProfessionalProfile_PageTitle"); 
}

<div class="row">
    @using (var f = Html.Bootstrap().Begin(new Form("CreateProfessionalProfile").Type(FormType._NotSet).Id("proForm").RouteValues(new { ProfileId = Model.ProfileId }).FormMethod(FormMethod.Post)))
    {
        <div class="col-md-7 main">
            <h1>@Localizer.Get("CreateProProfile_PageTitle")</h1>

            @Html.Bootstrap().ValidationSummary()

            <h4>@Localizer.Get("CreateProProfile_Teaser")</h4>
            <hr />

            <h3>@Localizer.Get("CreateProProfile_BusinessInfo")</h3>
            @f.FormGroup().TextBoxFor(x => x.CompanyName)
            @f.FormGroup().DropDownListFor(x => x.Category, Localizer.GetList("professional-categories").AsSelectList()).OptionLabel(Localizer.Get("CreateProProfile_ChooseCategory"))
            @f.FormGroup().TextBoxFor(x => x.WebsiteUrl).Placeholder("http://")
            @f.FormGroup().TextBoxFor(x => x.FirstName)
            @f.FormGroup().TextBoxFor(x => x.LastName)            
            @f.FormGroup().TextAreaFor(x => x.Metadata.BusinessDescription).Rows(5)
            @f.FormGroup().TextAreaFor(x => x.Metadata.ServicesProvided)
            @*@f.FormGroup().TextBoxFor(x => x.Metadata.LicenseNo)
            @f.FormGroup().TextAreaFor(x => x.Metadata.AreasServed)
            @f.FormGroup().TextAreaFor(x => x.Metadata.CostDetails)
            @f.FormGroup().TextAreaFor(x => x.Metadata.Awards)*@

            <h3>@Localizer.Get("CreateProProfile_ContactInfo")</h3>
            @f.FormGroup().TextBoxFor(x => x.Street1)
            @f.FormGroup().TextBoxFor(x => x.City)
            @f.FormGroup().DropDownListFor(x => x.Country, Localizer.GetList("supported-countries").AsSelectList())
            @f.FormGroup().TextBoxFor(x => x.PostalCode)
            @f.FormGroup().TextBoxFor(x => x.Phone)
            @f.FormGroup().TextBoxFor(x => x.Email)

            <br />
            <br />
            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("CreateProProfile_Submit")).Style(ButtonStyle.Primary))
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="helpbar">
                <h1>@Localizer.Get("CreateProProfile_Copy_Title")</h1>
                <div>@Html.Raw(Localizer.Get("CreateProProfile_Copy_Content"))</div>
            </div>
            <hr/>
            <div class="alert alert-info">
                @Localizer.Get("CreateProProfile_DefaultCultureInfo")
                <br/><br/>
                @f.FormGroup().DropDownListFor(x => x.DefaultCulture, Classy.DotNet.Responses.AppView.SupportedCultures.AsSelectList()).Label().Class("hidden")
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $.data($('#proForm')[0], 'validator').settings.ignore = ".ignore";
    </script>
}