@model Classy.DotNet.Mvc.ViewModels.Profiles.CreateProfessionalProfileViewModel<MyHome.Models.ProfessionalMetadata>

@{
    ViewBag.Title = "CompleteProfessionalProfile";
}

<div class="row">
    <div class="col-md-7 main">
        <h1>@Localizer.Get("CreateProProfile_PageTitle")</h1>

        @Html.Bootstrap().ValidationSummary()
        @using (var f = Html.Bootstrap().Begin(new Form("CreateProfessionalProfile").RouteValues(new { ProfileId = Model.ProfileId }).FormMethod(FormMethod.Post)))
        {
            <h4>@Localizer.Get("CreateProProfile_Teaser")</h4>
            <hr />

            <h3>@Localizer.Get("CreateProProfile_BusinessInfo")</h3>
            @f.FormGroup().TextBoxFor(x => x.CompanyName).Label().WidthLg(12)
            @f.FormGroup().DropDownListFor(x => x.Category, Localizer.GetList("professional-categories").AsSelectList()).OptionLabel(Localizer.Get("CreateProProfile_ChooseCategory")).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.WebsiteUrl).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.FirstName).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.LastName).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.Metadata.LicenseNo).Label().WidthLg(12)
            @f.FormGroup().TextAreaFor(x => x.Metadata.BusinessDescription).Rows(5).Label().WidthLg(12)
            @f.FormGroup().TextAreaFor(x => x.Metadata.ServicesProvided).Label().WidthLg(12)
            @f.FormGroup().TextAreaFor(x => x.Metadata.AreasServed).Label().WidthLg(12)
            <div>job cost from: --- to: ---</div>
            @f.FormGroup().TextAreaFor(x => x.Metadata.CostDetails).Label().WidthLg(12)
            @f.FormGroup().TextAreaFor(x => x.Metadata.Awards).Label().WidthLg(12)

            <h3>@Localizer.Get("CreateProProfile_ContactInfo")</h3>
            @f.FormGroup().TextBoxFor(x => x.Street1).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.City).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.Country).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.PostalCode).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.Phone).Label().WidthLg(12)
            @f.FormGroup().TextBoxFor(x => x.Email).Label().WidthLg(12)

            <br /><br />
            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("CreateProProfile_Submit")).Style(ButtonStyle.Success))
        }
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="well">
            <h1>@Localizer.Get("CreateProProfile_Copy_Title")</h1>
            <div>@Html.Raw(Localizer.Get("CreateProProfile_Copy_Content"))</div>
        </div>
    </div>
</div>