@*model Classy.DotNet.Mvc.ViewModels.Profiles.CreateProxyProfileViewModel<MyHome.Models.ProfessionalMetadata>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @if (TempData["UploadSuccess"] != null)
        {
            @Html.Bootstrap().Alert((string)TempData["UploadSuccess"]).Closeable().Style(AlertColor.Success)
        }
    </div>
    <div class="col-md-7 main">
        <h1>@Localizer.Get("CreateProxy_PageTitle")</h1>

        @Html.Bootstrap().ValidationSummary()
        @using (var f = Html.Bootstrap().Begin(new Form("CreateProxyProfileMass").HtmlAttributes(new { enctype = "multipart/form-data" }).FormMethod(FormMethod.Post)))
        {
            @f.FormGroup().File("File").Label().LabelText(Localizer.Get("CreateProxyProfile_File"))
            
            @Html.Bootstrap().SubmitButton().Text("CreateProxy_Submit").Style(ButtonStyle.Primary)
        }
    </div>
</div>

