@*model Classy.DotNet.Mvc.ViewModels.Profiles.CreateProxyProfileViewModel<MyHome.Models.ProfessionalMetadata>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7 main">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>@Localizer.Get("CreateProxy_PageTitle")</h1>

            @Html.Bootstrap().ValidationSummary()
            using (var f = Html.Bootstrap().Begin(new Form("CreateProxyProfileMass").HtmlAttributes(new { enctype = "multipart/form-data" }).FormMethod(FormMethod.Post)))
            {
                @f.FormGroup().DropDownList("Category", Localizer.GetList("professional-categories")).OptionLabel(Localizer.Get("CreateProxy_ChooseCategory")).ShowValidationMessage(false).Label()
                @f.FormGroup().File("File")
            
                @Html.Bootstrap().SubmitButton().Text("CreateProxy_Submit")
            }
        }
    </div>
</div>

