@model Classy.DotNet.Mvc.ViewModels.Profiles.PublicProfileViewModel<MyHome.Models.ProfessionalMetadata, MyHome.Models.ProfileReviewCriteria>

@{
    ViewBag.Title = "Photos";
}

<div class="row">

    @Html.Partial("SideBar", Model.Profile)

    <div class="col-md-9 main" itemscope itemtype="http://schema.org/LocalBusiness">
        <div id="photos">
            @if (Model.Profile.Listings.Count() > 0)
            {
                foreach (var p in Model.Profile.Listings)
                {
                    if (p.ExternalMedia.Count > 0 && p.ExternalMedia[0].Thumbnails != null)
                    {
                        var thumb = p.ExternalMedia[0].Thumbnails.SingleOrDefault(x => x.Width == 266);
                        if (thumb != null)
                        {
                <div class="col-md-4">
                    <div class="thumbnail">
                        @Html.Partial("PhotoActions", new Classy.DotNet.Mvc.ViewModels.Listing.PhotoActionsViewModel { Listing = p, ShowCollect = true, ShowEdit = true, ShowFavorite = true })
                        <img src="@thumb.Url" title="@p.Title" alt="@p.Title" />
                        <div class="details">
                            <strong>@Html.ListingLink("Photo", p)</strong>
                            <br />
                            <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                        </div>
                    </div>
                </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(function () {
            $('.thumbnail').mouseover(function () {
                $(this).find('.actions').removeClass('hide');
            });
            $('.thumbnail').mouseout(function () {
                $(this).find('.actions').addClass('hide');
            });
        });

    </script>
}