@model IList<Classy.DotNet.Responses.ProfileView>

@foreach (var p in Model)
{
<div class="col-md-4">
    <div class="profile thumbnail">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="@p.ThumbnailUrl" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">@Html.ProfileLink(p)</h4>
                @if (p.ReviewCount > 0)
                {
                    <span class="stars">
                        @for (var i = 1; i <= Convert.ToInt16(Math.Round(p.ReviewAverageScore, 0)); i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        @for (var i = 1; i <= 5 - Convert.ToInt16(Math.Round(p.ReviewAverageScore, 0)); i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                    </span>
                }
                                    
                @if (p.ProfessionalInfo.CompanyContactInfo != null &&
                p.ProfessionalInfo.CompanyContactInfo.Location != null &&
                p.ProfessionalInfo.CompanyContactInfo.Location.Address != null)
                    {
                        <div class="contact-info">
                            <span>@p.ProfessionalInfo.CompanyContactInfo.Location.Address.City</span>, @p.ProfessionalInfo.CompanyContactInfo.Location.Address.Country
                        </div>
                    }
                                        
                @if (p.Metadata.ContainsKey("BusinessDescription"))
                {
                    <p>
                        @p.Metadata["BusinessDescription"]
                    </p>
                }
            </div>
        </div>
    </div>
</div>
}
