@model Classy.DotNet.Mvc.ViewModels.Profiles.PublicProfileViewModel<MyHome.Models.ProfessionalMetadata, MyHome.Models.ProfileReviewCriteria>

@{
    ViewBag.Title = "PublicProfile";
}

<h2>@Model.Profile.ContactInfo.Name</h2>

<img src="@Model.Profile.ImageUrl" title="@Model.Profile.ContactInfo.Name" />

@if (Request.IsAuthenticated && Model.Profile.FollowedBy.Any(x => x.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id))
{
    <h3>@Localizer.Get("PublicProfile_Following")</h3>
}
else
{
    <h3>@Html.TriggerProfileActionLink(Localizer.Get("PublicProfile_Follow"), "follow", Model.Profile)</h3>
}

@if (User.Identity.IsAuthenticated && Model.Profile.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id)
{
    <a href="/profile/me">@Localizer.Get("PublicProfile_EditProfile")</a>
}

<span>@string.Format(Localizer.Get("PublicProfile_ViewCount"), Model.Profile.ViewCount)</span>

<h4>Followed By @Model.Profile.FollowerCount</h4>
@foreach (var p in Model.Profile.FollowedBy)
{
    <div class="col-sm-1">
        <img src="@p.ImageUrl" width="32px" />
        <br />@Html.ProfileLink(p)
    </div>
}

<h4>Following @Model.Profile.FollowingCount</h4>
@foreach (var p in Model.Profile.Following)
{
    <div class="col-sm-1">
        <img src="@p.ImageUrl" width="32px" />
        <br />@Html.ProfileLink(p)
    </div>
}



