@model Classy.DotNet.Mvc.ViewModels.Profiles.PublicProfileViewModel<MyHome.Models.ProfessionalMetadata, MyHome.Models.ProfileReviewCriteria>

@{
    ViewBag.Title = "PublicProfessionalProfile";
    var photos = Model.Profile.Listings.Where(x => x.ListingType == "Photo");
    var reviews = Model.Profile.Reviews;
    var discussions = Model.Profile.Listings.Where(x => x.ListingType == "Discussion");
    var collections = Model.Profile.Collections.Where(x => x.Listings != null && x.Listings.Count() > 0);
}

<div class="row">
    @if (TempData.ContainsKey("EditProfile_Successs"))
    {
        @Html.Bootstrap().Alert(Localizer.Get("PublicProfile_EditProfileSuccess")).Closeable().Style(AlertColor.Success)
    }

    @Html.Partial("SideBar", Model.Profile)

    <div class="col-md-9 main" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="row">
            <div class="col-md-12">
                <h1 itemprop="name">@Model.Profile.GetProfileName()</h1>

                @if (User.Identity.IsAuthenticated && Model.Profile.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id)
                {
                    <div class="profile-actions">
                        <a href="@Url.RouteUrlForCurrentLocale("EditProfile")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i> @Localizer.Get("Profile_EditProfile")</a>
                        <a href="mailto:?subject=@(Localizer.Get("Profile_MailLinkSubject"))&body=@(string.Format(Localizer.Get("Profile_MailLinkBody"), Model.Profile.Id, Model.Profile.GetProfileName()))" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-envelope"></i> @Localizer.Get("Profile_MailLink")</a>
                    </div>
                }
            </div>
        </div>
        <hr />

        <!-- tabs -->
        <ul class="nav nav-tabs" id="profileTabs">
            <li class="active"><a href="#collections" data-toggle="tab">@Localizer.Get("Profile_Tabs_Collections")</a></li>
            <li><a href="#photos" data-toggle="tab">@Localizer.Get("Profile_Tabs_Photos")</a></li>
            <li><a href="#discussions" data-toggle="tab">@Localizer.Get("Profile_Tabs_Discussions")</a></li>

        </ul>

        <div class="tab-content row">
            <div class="tab-pane" id="photos">
                @if (photos.Count() > 0)
                {
                    foreach (var p in photos)
                    {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="actions hide">
                                @Html.Partial("PhotoActions", new Classy.DotNet.Mvc.ViewModels.Listing.PhotoActionsViewModel { Listing = p, ShowFavorite = true, ShowCollect = true, ShowEdit = true })
                            </div>
                            @Html.Thumbnail(p, 266)
                            <div class="details">
                                <strong>@Html.ListingLink("Photo", p)</strong>
                                <br />
                                <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>

            <div class="tab-pane active" id="collections">
                @if (collections.Count() > 0)
                {
                    foreach (var c in collections)
                    {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            @Html.CollectionThumbnail(c, 266, 266)
                            @*<img src="@thumb.Url" title="@c.Title" alt="@c.Title" />*@
                            <div class="details">
                                <strong>@Html.CollectionLink(c)</strong>
                                <br />
                                <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), c.CommentCount)</small>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>



            <div class="tab-pane" id="discussions">
                @if (discussions.Count() > 0)
                {
                    foreach (var d in discussions)
                    {
                    <div class="discussion">
                        <p>
                            <strong>@Html.ListingLink("Discussion", d)</strong>
                            <small>@d.CommentCount תגובות</small>
                            <br />@d.Content
                        </p>
                    </div>
                    }
                }
            </div>
        </div>

        <!-- feed -->
        <div class="row" id="reviews">
            <div class="col-md-8">
            </div>
        </div>

    </div>
    <!-- main -->
</div>
