@model Classy.DotNet.Mvc.ViewModels.Profiles.PublicProfileViewModel<MyHome.Models.ProfessionalMetadata, MyHome.Models.ProfileReviewCriteria>

@{
    ViewBag.Title = "PublicProfessionalProfile";
    var photos = Model.Profile.Listings.Where(x => x.ListingType == "Photo");
    var reviews = Model.Profile.Reviews;
    var discussions = Model.Profile.Listings.Where(x => x.ListingType == "Discussion");
    var collections = Model.Profile.Collections;
}

@if (TempData["ContactSuccess"] != null)
{
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    @TempData["ContactSuccess"]
</div>
}

<div class="col-md-3 sidebar">
    <div class="image text-center">
        <img src="@Model.Profile.ImageUrl" title="@Model.Profile.ContactInfo.Name" />
    </div>

    <div class="follow">
        @if (Request.IsAuthenticated && Model.Profile.FollowedBy.Any(x => x.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id))
        {
            <span>@Localizer.Get("Profile_Sidebar_Following") <i class="glyphicon glyphicon-ok"></i></span>
        }
        else
        {
            @Html.TriggerProfileActionLink(@Localizer.Get("Profile_Sidebar_Follow"), "follow", Model.Profile, "btn btn-block btn-default")
        }
    </div>

    <div class="panel panel-default panel-links">
        <div class="panel-heading">
            <h3 class="panel-title">@Localizer.Get("Profile_ProfileLinksPanel_Title")</h3>
        </div>
        <div class="panel-body">
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Overview")</a>
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Collections")</a>
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Photos")</a>
            <a href="#">@Localizer.Get("Profile_ProfileLinksPanel_Reviews")</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @if (!string.IsNullOrEmpty(Model.Profile.ProfessionalInfo.CompanyContactInfo.FacebookUrl))
            {
                <a href="@Model.Profile.ProfessionalInfo.CompanyContactInfo.FacebookUrl">Facebook</a>
            }
            @if (!string.IsNullOrEmpty(Model.Profile.ProfessionalInfo.CompanyContactInfo.FacebookUrl))
            {
                <a href="@Model.Profile.ProfessionalInfo.CompanyContactInfo.TwitterUsername">Twitter</a>
            }
            @if (!string.IsNullOrEmpty(Model.Profile.ProfessionalInfo.CompanyContactInfo.TwitterUsername))
            {
                <a href="@Model.Profile.ProfessionalInfo.CompanyContactInfo.LinkedInProfileUrl">LinkedIn</a>
            }
        </div>
    </div>

    @if (Model.Profile.FollowerCount > 0)
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@string.Format(Localizer.Get("Profile_FollowersPanel_Title"), Model.Profile.FollowerCount)</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @foreach (var p in Model.Profile.FollowedBy)
                {
                    <div class="col-sm-1">
                        <a href="@Html.ProfileLink(p)" class="thumbnail">
                            <img src="@p.ImageUrl" width="28px"/>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    }
    
    @if (Model.Profile.FollowingCount > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@string.Format(Localizer.Get("Profile_FollowingPanel_Title"), Model.Profile.FollowingCount)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    @foreach (var p in Model.Profile.Following)
                    {
                        <div class="col-md-3">
                            <a href="@Html.ProfileLink(p)" class="thumbnail">
                                <img src="@p.ImageUrl" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="col-md-9 main">
    <div class="row" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="col-md-9">
            <h1 itemprop="name">@Model.Profile.ContactInfo.Name</h1>

            @if (User.Identity.IsAuthenticated && Model.Profile.Id == (User.Identity as Classy.DotNet.Security.ClassyIdentity).Profile.Id)
            {
                        <a href="/profile/me">Edit Profile</a>
            }
            
            <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span itemprop="ratingValue">@Model.Profile.ReviewAverageScore</span>
                <span class="stars"></span>
                <span itemprop="reviewCount">@Model.Profile.ReviewCount</span> <a href="#">@Localizer.Get("Profile_Main_Reviews")</a> | <a href="/profile/@Model.Profile.Id/reviews/new">@Localizer.Get("Profile_Main_ReviewMe") &raquo;</a>

                @if (Model.ReviewSubCriteria != null)
                {
                    <small>
                        details @Html.Bootstrap().Icon(
                                new Icon("glyphicon-info-sign")
                                .Popover("Score Details", string.Concat(
                                    "Professionalism: ", Model.ReviewSubCriteria.Professionalism, "<br/>",
                                    "Creativity: ", Model.ReviewSubCriteria.Creativity, "<br/>",
                                    "Service Level: ", Model.ReviewSubCriteria.ServiceLevel, "<br/>",
                                "Availability: ", Model.ReviewSubCriteria.Availability)))
                    </small>
                }
            </div>

            <div itemprop="description">
                @Model.Profile.ProfessionalInfo.CompanyName
            </div>
        </div>

        <div class="col-md-3 contact-info">
            @if (Model.Profile.IsProxy)
            {
                @Html.RouteLink(@Localizer.Get("Profile_Main_Claim"), new { controller = "Profile", action = "ClaimProxyProfile", profileId = Model.Profile.Id }, new { @class = "btn btn-warning btn-block" })
            }
            else
            {
                <a id="contact-pro" href="#" class="btn btn-success btn-block">@Localizer.Get("Profile_Main_ContactPro")</a>
            }
            <div>
                <i class="glyphicon glyphicon-tag"></i>
                <span itemscope class="hide" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { location = Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.City })" itemprop="url"><span itemprop="title">@Model.Profile.ProfessionalInfo.Category</span></a>
                </span>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
                    <a href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { category = Model.Profile.ProfessionalInfo.Category, location = Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.City })" itemprop="url"><span itemprop="title">@Model.Profile.ProfessionalInfo.Category</span></a>
                </span>
            </div>
            <div>
                <i class="glyphicon glyphicon-phone"></i> <span itemprop="telephone">@Model.Profile.ProfessionalInfo.CompanyContactInfo.Phone</span>&nbsp;&nbsp;
            </div>
            <div>
                <i class="glyphicon glyphicon-globe"></i> <a href="@Model.Profile.ProfessionalInfo.CompanyContactInfo.WebsiteUrl"><span itemprop="url">@Model.Profile.ProfessionalInfo.CompanyContactInfo.WebsiteUrl</span></a>
            </div>
            @if (Model.Profile.ProfessionalInfo.CompanyContactInfo != null &&
                Model.Profile.ProfessionalInfo.CompanyContactInfo.Location != null &&
                Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address != null)
            {
                <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <i class="glyphicon glyphicon-envelope"></i> <span itemprop="streetAddress">@Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.Street1 @Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.Street2</span>
                    <span itemprop="addressLocality">@Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.City</span>, @Model.Profile.ProfessionalInfo.CompanyContactInfo.Location.Address.Country
                s</div>
            }
        </div>
    </div>
    <hr />

    <!-- tabs -->
    <ul class="nav nav-tabs" id="profileTabs">
        <li class="active"><a href="#photos" data-toggle="tab">@Localizer.Get("Profile_Tabs_Photos")</a></li>
        <li><a href="#discussions" data-toggle="tab">@Localizer.Get("Profile_Tabs_Discussions")</a></li>
        <li><a href="#collections" data-toggle="tab">@Localizer.Get("Profile_Tabs_Collections")</a></li>
        <li><a href="#reviews" data-toggle="tab">@Localizer.Get("Profile_Tabs_Reviews")</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="photos">
            @if (photos.Count() > 0)
            {
                foreach (var p in photos)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-heart\"></i>", "favorite", p, "btn btn-default action like")
                            @Html.TriggerListingActionLink("<i class=\"glyphicon glyphicon-plus\"></i>", "collect", p, "btn btn-default action add")
                            <img src="@p.ExternalMedia[0].Url" title="@p.Title" alt="@p.Title" width="100%" />
                            <strong>@Html.ListingLink("Photo", p)</strong>
                            <br /><small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
                        </div>                        
                    </div>
                }
            }
        </div>

        <div class="tab-pane" id="collections">
            @if (collections.Count > 0)
            {
                foreach (var c in collections)
                {
                    <div class="collection">
                        @Html.CollectionLink(c)
                    </div>
                }
            }
        </div>

        <div class="tab-pane" id="reviews">
            @if (collections.Count > 0)
            {
                foreach (var r in reviews)
                {
                    <div class="review">
                        @r.Content
                    </div>
                }
            }
        </div>

        <div class="tab-pane" id="discussions">
            @if (discussions.Count() > 0)
            {
                    foreach (var d in discussions)
                    {
                        <div class="discussion">
                            <p>
                            <strong>@Html.ListingLink("Discussion", d)</strong>
                            <small>@d.CommentCount תגובות</small>
                            <br />@d.Content
                            </p>
                        </div>
                    }
            }
        </div>
    </div>
    
</div> <!-- main -->

    <div class="modal fade" id="contact-pro-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">צור קשר עם @Model.Profile.ProfessionalInfo.CompanyContactInfo.Name</h4>
                </div>

                @using (Html.BeginRouteForm("ContactProfessional", new { ProfessionalProfileId = Model.Profile.Id }, FormMethod.Post))
                {
                    <div class="modal-body">
                        @if (!Request.IsAuthenticated)
                        {
                            <div class="form-group">
                                <label for="ReplyToEmail">כתובת אימייל</label>
                                <input type="text" name="ReplyToEmail" />
                            </div>
                        }
                        <div class="form-group">
                            <label for="Subject">כותרת</label>
                            <input type="text" name="Subject" />
                        </div>
                        <div class="form-group">
                            <label for="Content">הודעה</label>
                            <textarea name="Content">ראיתי את הדף שלך במיי הום ו...</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">שלח הודעה</button>
                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    @section scripts {
        <script>
            $(function () {
                $('#contact-pro').click(function () {
                    $('#contact-pro-modal').modal({ 'keyboard': true });
                });
            });
        </script>
    }
