@model Classy.DotNet.Mvc.ViewModels.Profiles.SearchViewModel<MyHome.Models.ProfessionalMetadata>

@{
    ViewBag.Title = "SearchProfiles";
    var categories = Localizer.GetList("professional-categories");
}

<div class="row">
    <div class="sidebar col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("SearchProfiles_Sidebar_Categories")</h3>
            </div>
            <div class="panel-body panel-links">
                @foreach (var c in categories)
                {
                    @Html.RouteLinkForCurrentLocale(c.Text, "SearchProfiles", new { category = c.Value })
                }
            </div>
        </div>
    </div>

    <div class="main col-md-9">
        @if (Model.Category != null)
        {
            <h1>@categories.Single(x => x.Value == Model.Category).Text</h1>
        }
        else
        {
            <h1>@Localizer.Get("ProfileSearch_ResultsHeader_AllPros")</h1>
        }

        <div class="label-container" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            @if (!string.IsNullOrEmpty(Model.Category))
            {
                <span class="label label-danger">
                    <a itemscope itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { category = Model.Category })">@categories.Single(x => x.Value == Model.Category).Text</a>
                    <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { })">x</a>
                </span>
            }
            @if (Model.Location != null)
            {
                <span class="label label-danger">
                    <a itemscope itemprop="url" href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { category = Model.Category, location = Model.Location })">@Model.Location</a>
                    <a class="dismiss" href="@Url.RouteUrlForCurrentLocale("SearchProfiles", new { category = Model.Category })">x</a>
                </span>
            }
        </div>

        <hr />

        <div class="search-form">
            @using (var f = Html.Bootstrap().Begin(new Form("Search", "Profile").Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                @f.FormGroup().TextBoxFor(x => x.Name).Placeholder(Localizer.Get("SearchProfiles_Label_Name")).ShowValidationMessage(false).Label().Class("sr-only")
                @f.FormGroup().TextBoxFor(x => x.Location).Placeholder(Localizer.Get("SearchProfiles_Label_City")).ShowValidationMessage(false).Label().Class("sr-only")
                @f.FormGroup().DropDownListFor(x => x.Category, categories.AsSelectList()).OptionLabel(Localizer.Get("SearchProfiles_Label_CategoryDefaultOption")).ShowValidationMessage(false).Label().Class("sr-only")

                @Html.Bootstrap().SubmitButton().Text(Localizer.Get("SearchProfiles_Label_Submit")).Style(ButtonStyle.Success)
            }
        </div>

        <div class="row results iscroll" data-item-class=".profile" data-hasMore="true" data-url="@Url.RouteUrlForCurrentLocale("SearchProfiles")"
            data-page-size="@Classy.DotNet.Mvc.ViewModels.Application.AppView.PageSize" data-page="@(string.IsNullOrEmpty(Request["page"]) ? 1 : int.Parse(Request["page"]))">
            @if (Model.Results != null)
            {
                @Html.Partial("ProfileGrid", Model.Results)
            }
        </div>
        <div id="pager" class="text-center hide">
            <ul class="pagination" data-total="@((int)Math.Ceiling((decimal)Model.Count / Classy.DotNet.Mvc.ViewModels.Application.AppView.PageSize))" 
                data-pages="@Classy.DotNet.Mvc.ViewModels.Application.AppView.PagesCount">
                <li><a href="#">@Localizer.Get("Paging_Prev")</a></li>
                @for (int i = 0; i < Classy.DotNet.Mvc.ViewModels.Application.AppView.PagesCount; i++)
                {
                    <li><a href="#">@(i + 1)</a></li>
                }
                <li><a href="#">@Localizer.Get("Paging_Next")</a></li>
            </ul>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/iscroll.js"></script>
    <script>
        resetPagination(@(string.IsNullOrEmpty(Request["page"]) ? 1 : int.Parse(Request["page"])));
    </script>
}