@model Classy.DotNet.Mvc.ViewModels.Profiles.SearchViewModel<MyHome.Models.ProfessionalMetadata>

@{
    ViewBag.Title = "SearchProfiles";

    var CategoryList = new List<SelectListItem>() {
        new SelectListItem {
            Text = "Kitchen Seller",
            Value = "kitchen-seller"
        }
    };
}

<div class="row">
    <div class="sidebar col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer.Get("SearchProfiles_Sidebar_Categories")</h3>
            </div>
            <div class="panel-body panel-links">
                @Html.RouteLinkForCurrentLocale("Kitchen Sellers", "SearchProfiles", new { category = "kitchen-seller" })
            </div>
        </div>
    </div>

    <div class="main col-md-10">
        <h1>
        @if (string.IsNullOrEmpty(Model.Location)) {
            <text>
            @string.Format(Localizer.Get("SearchProfiles_Results_Title_CategoryOnly"), Model.Results.Count, Model.Category)
            </text>
        }
        else
        {
            <text>
            @string.Format(Localizer.Get("SearchProfiles_Results_Title_CategoryAndLocation"), Model.Results.Count, Model.Category, Model.Location)
            </text>
        }
        </h1>

        <div class="search-form">
            @using (var f = Html.Bootstrap().Begin(new Form("Search", "Profile").Type(FormType.Inline).FormMethod(FormMethod.Post)))
            {
                @f.FormGroup().TextBoxFor(x => x.Name).Placeholder(Localizer.Get("SearchProfiles_Label_Name")).Label().Class("sr-only")
                @f.FormGroup().TextBoxFor(x => x.Location).Placeholder(Localizer.Get("SearchProfiles_Label_City")).Label().Class("sr-only")
                @f.FormGroup().DropDownListFor(x => x.Category, CategoryList).OptionLabel(Localizer.Get("SearchProfiles_Label_CategoryDefaultOption")).Label().Class("sr-only")

                @Html.Bootstrap().SubmitButton().Text(Localizer.Get("SearchProfiles_Label_Submit")).Class("btn-success")
            }
        </div>

        @if (Model.Results != null)
        {
            foreach (var p in Model.Results)
            {
                <div class="row">
                    <div class="col-md-12 profile">
                        @Html.ProfileLink(p) @p.ReviewAverageScore (@p.ReviewCount reviews)
                    </div>
                </div>
            }
        }
    </div>
</div>
