@model Classy.DotNet.Mvc.ViewModels.Profiles.SendEmailViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@Localizer.Get("SendEmail_Title")</h4>
</div>
<div class="modal-body">
    @using (var f = Ajax.Bootstrap().Begin(new Form("SendEmail", "Profile").Type(FormType._NotSet).RouteValues(new { ProfileId = Model.ProfileId }).Id("frmSendEmail"), new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "send-email-modal-replace",
        OnSuccess = "CloseModal(data)"
    }))
    {
        @Html.Bootstrap().ValidationSummary()
        @Html.HiddenFor(m => m.ProfileId)

        @f.FormGroup().TextBoxFor(x => x.Contacts).HelpText(Localizer.Get("SendEmail_RecipientsHelp")).ShowValidationMessage(false).Label().ShowRequiredStar(false)
        @f.FormGroup().TextBoxFor(x => x.Subject).ShowValidationMessage(false).Label().ShowRequiredStar(false)
        @f.FormGroup().TextAreaFor(x => x.Body).HtmlAttributes(new { rows = 7 }).ShowValidationMessage(false).Label().ShowRequiredStar(false)

        <div class="form-buttons">
            <button class="btn btn-default" data-dismiss="modal">@Localizer.Get("Cancel")</button>
            <button class="btn btn-primary" type="submit">@Localizer.Get("SendEmail_Send")</button>
        </div>
    }
</div>