@model Classy.DotNet.Responses.ProfileView

@{
    var cdnurl = System.Configuration.ConfigurationManager.AppSettings["Classy:CloudFrontDistributionUrl"];
    var countries = Localizer.GetList("supported-countries");
    var hasAddress = (Model.ProfessionalInfo.CompanyContactInfo != null &&
                      Model.ProfessionalInfo.CompanyContactInfo.Location != null &&
                      Model.ProfessionalInfo.CompanyContactInfo.Location.Address != null);
}

<div class="profile small-thumbnail">
    @if (Model.CoverPhotos != null && Model.CoverPhotos.Count > 0)
    {
        <div class="cover-photos clearfix">
            @foreach (var photo in Model.CoverPhotos)
            {
                <img src="@string.Format("//{0}/thumbnail/{1}?Width=85&format=json", cdnurl, photo)" />
            }
        </div>
    }
    
    <div class="details">
        <div class="name">
            <a href="@Url.RouteUrlForCurrentLocale("PublicProfile", new { profileId = Model.Id, slug = Model.ProfessionalInfo.CompanyName })">
                @Model.ProfessionalInfo.CompanyName
            </a>
        </div>
        @if (hasAddress)
        {
            <div class="location">
                <small>
                    <span>@Model.ProfessionalInfo.CompanyContactInfo.Location.Address.City</span>, @countries.Single(x => x.Value == Model.ProfessionalInfo.CompanyContactInfo.Location.Address.Country).Text
                </small>
            </div>
        }
    </div>
</div>