@model Classy.DotNet.Mvc.ViewModels.Reviews.ProfileReviewViewModel<MyHome.Models.ProfileReviewMetadata, MyHome.Models.ProfileReviewCriteria, MyHome.Models.ProfessionalMetadata>

@{
    var user = User.Identity as Classy.DotNet.Security.ClassyIdentity;
}

<div class="row">
    <div class="col-md-7 main">
        @if (Model.IsNewProfessional)
        {
            <h1>@Localizer.Get("PostReview_PageTitle_NewProfessional")</h1>
        }
        else {
            <h1>@string.Format(Localizer.Get("PostReview_PageTitle"), Model.ProfessionalName)</h1>
        }
        <hr />

        @Html.Bootstrap().ValidationSummary()
        @using (var f = Html.Bootstrap().Begin(new Form("PostProfileReview").FormMethod(FormMethod.Post)))
        {
            if (Model.IsNewProfessional)
            {
                <h3>@Localizer.Get("PostReview_ProContactInfo")</h3>
                @f.FormGroup().TextBoxFor(x => x.NewProfessionalContactInfo.Phone).Label()
                @f.FormGroup().TextBoxFor(x => x.NewProfessionalContactInfo.Email).Label()
            }
            
            <h3>@Localizer.Get("PostReview_YourRelationship")</h3>
            @f.FormGroup().DropDownListFor(x => x.Metadata.Relationship, Localizer.GetList("relationship-with-pro").AsSelectList()).OptionLabel(Localizer.Get("PostReview_SelectRelationship")).Label().Class("sr-only")


            <h3>@Localizer.Get("PostReview_YourRating")</h3>
            @Html.Bootstrap().RadioButtonListFor(x => x.SubCriteria.Availability, Model.Scale1to5, x => x.Value, x => x.Text).DisplayInlineBlock().ShowValidationMessage(false).Label().ShowRequiredStar(false)
            @Html.Bootstrap().RadioButtonListFor(x => x.SubCriteria.Professionalism, Model.Scale1to5, x => x.Value, x => x.Text).DisplayInlineBlock().ShowValidationMessage(false).Label().ShowRequiredStar(false)
            @Html.Bootstrap().RadioButtonListFor(x => x.SubCriteria.Creativity, Model.Scale1to5, x => x.Value, x => x.Text).DisplayInlineBlock().ShowValidationMessage(false).Label().ShowRequiredStar(false)
            @Html.Bootstrap().RadioButtonListFor(x => x.SubCriteria.ServiceLevel, Model.Scale1to5, x => x.Value, x => x.Text).DisplayInlineBlock().ShowValidationMessage(false).Label().ShowRequiredStar(false)

            <h3>@Localizer.Get("PostReview_YourReview")</h3>
            <p>@Localizer.Get("PostReview_ReviewGuidelines")</p>
            @f.FormGroup().TextAreaFor(x => x.Comments).Rows(5).Label().Class("sr-only")

            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Style(ButtonStyle.Danger).Text(Localizer.Get("PostReview_Submit")).HtmlAttributes(new { authorize = "" }))
        }
    </div>

    <div class="col-md-4 col-md-offset-1 helpbar">
        <h1>@Localizer.Get("PostReview_Copy_Title")</h1>
        <div class="content">
            @Html.Raw(Localizer.Get("PostReview_Copy_Content"))
        </div>
    </div>

    @if (!Request.IsAuthenticated)
    {
        @section scripts {
            <script>$(function () { $('#login-modal').modal('show'); })</script>
        }
    }
