@model Classy.DotNet.Mvc.ViewModels.Security.ForgotPasswordViewModel

@{
    ViewBag.Title = Localizer.Get("Login_ForgotPassword");
    ViewBag.NoIndex = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_ForgotPassword")</h2>
    <hr/>
</div>

<div class="row">
    @if (TempData["ForgotPassword_RequestSuccess"] == null || ((bool)TempData["ForgotPassword_RequestSuccess"]) == false)
    {
        <div class="col-md-4 col-md-offset-4">
            <div>
                @Html.Bootstrap().ValidationSummary()

                @using (var f = Html.Bootstrap().Begin(new Form("ForgotPassword").Type(FormType._NotSet).FormMethod(FormMethod.Post)))
                {
                    @f.FormGroup().TextBoxFor(x => x.Email).Placeholder(Localizer.Get("Login_Email")).Label().Class("sr-only")
                    
                    <p>@f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Style(ButtonStyle.Primary).Class("btn-block").Text(Localizer.Get("Login_ForgotPassword_Submit")))</p>
                }

            </div>
        </div>
    }
    else
    {
        <div class="col-md-6 col-md-offset-3">
            @Localizer.Get("ForgotPassword_CheckEmailForInstructions")
        </div>
    }
</div>
