@model Classy.DotNet.Mvc.ViewModels.Security.LoginViewModel

@{
    ViewBag.Title = Localizer.Get("Login_Welcome");
    ViewBag.NoIndex = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_Welcome")</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login">
            <div class="fb text-center">
                <a id="sign-in-facebook" class="btn btn-block btn-lg btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
            </div>

            <p class="text-center">@Localizer.Get("Login_OrSignInWithEmail")</p>

            @Html.Bootstrap().ValidationSummary()

            @using (var f = Html.Bootstrap().Begin(new Form("Login").FormMethod(FormMethod.Post)))
            {
                @f.FormGroup().TextBoxFor(x => x.Email).Placeholder(Localizer.Get("Login_Email")).Label().Class("sr-only")
                @f.FormGroup().PasswordFor(x => x.Password).Placeholder(Localizer.Get("Login_Password")).Label().Class("sr-only")
                @f.FormGroup().CheckBoxFor(x => x.RememberMe).Label().LabelText(Localizer.Get("Login_RememberMe")).ShowRequiredStar(false)
                @Html.HiddenFor(x => x.RedirectUrl)

                @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-block btn-primary").Text(Localizer.Get("Login_Submit")))
            }

            <p>
                @Localizer.Get("Login_NoAccount")
                <a href="/register">@Localizer.Get("Login_CreateAccount")</a>
            </p>
            <p class="text-center">
                <a href="@Url.RouteUrl("ForgotPassword")">@Localizer.Get("Login_ForgotPassword")</a>
            </p>
        </div>
    </div>

</div>



@section scripts {
    @Scripts.Render("~/scripts/fb-login.js")
    <script> 
        OnFacebookLogin = function (profile) {
            console.log(profile);
            window.document.location.href = "/profile/"+profile.Id;
        }
    </script>
}