@model Classy.DotNet.Mvc.ViewModels.Security.LoginViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@Localizer.Get("Login_Welcome")</h4>
</div>
<div class="modal-body">
    <div class="login">
        <div class="fb text-center">
            <a id="sign-in-facebook" class="btn btn-block btn-lg btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
        </div>

        <p class="text-center">@Localizer.Get("Login_OrSignInWithEmail")</p>

        @using (var f = Html.Bootstrap().Begin(new Form("Login", "Security").Id("login-modal-form").FormMethod(FormMethod.Post)))
        {
            @f.FormGroup().TextBoxFor(x => x.Email).Placeholder(Localizer.Get("Login_Email")).Label().Class("sr-only")
            @f.FormGroup().PasswordFor(x => x.Password).Placeholder(Localizer.Get("Login_Password")).Label().Class("sr-only")
            @f.FormGroup().CheckBoxFor(x => x.RememberMe).Label().ShowRequiredStar(false)
            @Html.HiddenFor(x => x.RedirectUrl)
            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-block btn-primary").Text(Localizer.Get("Login_Submit")))
        }  

        <p>
            @Localizer.Get("Login_NoAccount")
            @Html.RouteLink(Localizer.Get("Login_CreateAccount"), new { controller = "Security", action = "Register", ReferrerUrl = Url.Encode(Request.UrlReferrer.ToString()) })
            <a href="/register"></a>
        </p>
    </div>
</div>

<script>Classy.AjaxReconnect();</script>
