@model Classy.DotNet.Mvc.ViewModels.Security.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_Welcome")</h2>
    <p>
        @Localizer.Get("Login_NoAccount")
        <a href="/register">@Localizer.Get("Login_CreateAccount")</a>
    </p>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        @Html.Bootstrap().ValidationSummary()

        @using (var f = Html.Bootstrap().Begin(new Form("Login").FormMethod(FormMethod.Post)))
        {
            @f.FormGroup().TextBoxFor(x => x.Email).Label().ShowRequiredStar(false)
            @f.FormGroup().PasswordFor(x => x.Password).Label().ShowRequiredStar(false)
            @f.FormGroup().CheckBoxFor(x => x.RememberMe).Label().ShowRequiredStar(false)
            @Html.HiddenFor(x => x.RedirectUrl)
            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Text(Localizer.Get("Login_Submit")))
        }
    </div>

    <div class="col-md-1">
        OR
    </div>

    <div class="col-md-3">
        <a id="sign-in-facebook" class="btn btn-lg btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/scripts/fb-login.js")
    <script>
        OnFacebookLogin = function (profile) {
            window.document.location.href = "/profile/me";
        }
    </script>
}