@model Classy.DotNet.Mvc.ViewModels.Security.RegistrationViewModel<MyHome.Models.UserMetadata>

@{
    ViewBag.Title = "Register";
    ViewBag.NoIndex = true;
    ViewBag.NoSignupBanner = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_Welcome")</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="register">
            <div class="fb text-center">
                <a id="sign-in-facebook" class="btn btn-block btn-lg btn-fb-login" href="#" role="button">@Localizer.Get("Login_Facebook")</a>
            </div>

            <p class="text-center">@Localizer.Get("Register_OrSignUpWithEmail")</p>

            @Html.Bootstrap().ValidationSummary()
            @using (var f = Html.Bootstrap().Begin(new Form("Register").Type(FormType._NotSet).FormMethod(FormMethod.Post).Id("mainForm")))
            {
                @Html.HiddenFor(x => x.ReferrerUrl)
                @f.FormGroup().TextBoxFor(x => x.Email).ShowValidationMessage(false).Label().ShowRequiredStar(false)
                @f.FormGroup().TextBoxFor(x => x.Username).ShowValidationMessage(false).Label().ShowRequiredStar(false)
                @f.FormGroup().PasswordFor(x => x.Password).ShowValidationMessage(false).Label().ShowRequiredStar(false)

                if (string.IsNullOrEmpty(Model.ReferrerUrl) || !Model.ReferrerUrl.Contains("claim")) {
                    @Html.Bootstrap().CheckBoxFor(x => x.IsProfessional).IsChecked(false).Label().ShowRequiredStar(false)
                }

                <p>
                    <hr />
                    <br/>
                    @Html.Bootstrap().CheckBoxFor(x => x.AgreeToTerms).IsChecked(false).Label().LabelText(string.Format(Localizer.Get("Register_AgreeToTerms"), Html.RouteLink(Localizer.Get("Regsiter_TermsOfUse"), "Terms"))).ShowRequiredStar(false)
                </p>
                <div>
                    @Html.Bootstrap().SubmitButton().Text(Localizer.Get("Register_Submit")).Style(ButtonStyle.Primary)
                </div>
                
                <br /><br /><br /><br />
            }
        </div>
    </div>

</div>

@using (var modal = Html.Bootstrap().Begin(new Modal().Id("more-details")))
{
    using (modal.BeginHeader())
    {
        <h4 class="modal-title">#</h4>
    }

    using (Html.Bootstrap().Begin(new Form("CompleteRegistration").FormMethod(FormMethod.Post).Id("modalForm")))
    {
        using (modal.BeginBody())
        {
                @Html.Bootstrap().CheckBoxFor(x => x.IsProfessional).IsChecked(false).Label().ShowRequiredStar(false)

                <hr/>
                <br/>
                @Html.Bootstrap().CheckBoxFor(x => x.AgreeToTerms).IsChecked(false).Label().LabelText(string.Format(Localizer.Get("Register_AgreeToTerms"), Html.RouteLink(Localizer.Get("Regsiter_TermsOfUse"), "Terms"))).ShowRequiredStar(false)
            <div>
                @Html.Bootstrap().SubmitButton().Text(Localizer.Get("Register_ContinueToSite")).Style(ButtonStyle.Primary);
            </div>
        }
    }
}

@section scripts {
    @Scripts.Render("~/scripts/fb-login.js")
    <script>

    // bind boolean validation
    jQuery.validator.unobtrusive.adapters.add("brequired", function (options) {
        //b-required for checkboxes
        if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() == "CHECKBOX") {
            //setValidationValues(options, "required", true);
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });

        $(function () {
            // faux radio group
            $('input[type=radio]').click(function () {
                var id = this.id;
                $('input[type=radio]').each(function (idx, item) {
                    if (item.id != id) $(item).prop('checked', false);
                })
            });

            // disable validation on the stupid radio buttons
            $.data($('#mainForm')[0], 'validator').settings.ignore = "input[type=radio]";
            $.data($('#modalForm')[0], 'validator').settings.ignore = "input[type=radio]";

            // bind validation summary
            $("#mainForm").bind('invalid-form.validate', function (form, validator) {
                var $list = $('.validation-summary-valid ul:first')
                if ($list.length && validator.errorList.length) {
                    $list.empty();
                    $.each(validator.errorList, function () {
                        $("<li />").html(this.message).appendTo($list);
                    });
                }
            });
        });

        OnFacebookLogin = function (profile) {
            $('h4.modal-title').html('@Localizer.Get("Register_Hello") ' + profile.ContactInfo.Name);
            $('#more-details').modal({
                keyboard: false,
                backdrop: 'static'
            });
        }
    </script>
}



