@model Classy.DotNet.Mvc.ViewModels.Security.ResetPasswordViewModel

@{
    ViewBag.Title = Localizer.Get("Login_ResetPassword");
    ViewBag.NoIndex = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_ResetPassword")</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login">
            @if (TempData["ResetPassword_Error"] == null)
            {
                @Html.Bootstrap().ValidationSummary()

                using (var f = Html.Bootstrap().Begin(new Form("ResetPassword").FormMethod(FormMethod.Post)))
                {
                    @f.FormGroup().PasswordFor(x => x.Password).ShowValidationMessage(false).Label().WidthLg(12).ShowRequiredStar(false)
                    @f.FormGroup().PasswordFor(x => x.ConfirmPassword).ShowValidationMessage(false).Label().WidthLg(12).ShowRequiredStar(false)
                
                    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-block btn-primary").Text(Localizer.Get("Login_ResetPassword_Submit")))
                }
            }
            else
            {
                <div class="alert alert-danger">@TempData["ResetPassword_Error"]</div>
            }
        </div>
    </div>

</div>